<% provide(:title, "下請け発注依頼登録") %>
<% provide(:btn_text, "登録") %>

<div class="card">
  <div class="card-body">
    <%= form_with url: users_request_order_sub_request_orders_path(@request_order), method: :post, local: true do |f| %>

      <%= f.label "事業所名(複数選択可)" %>
      <%= f.collection_select :business_ids, @businesses, :id, :name, { include_hidden: false }, { required: true, multiple: true, size: 5, class: "form-control" } %>
      <br>
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
      <%= link_to "戻る", users_request_order_path(@request_order), class: "btn btn-md btn-block btn-default" %>
    <% end %>
  </div>
</div>
