<% provide(:title,  "お知らせ詳細") %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <ul>
        <li><%= @news.title %></li>
        <li><%= @news.content %></li>
        <li>配信日: <%= l(@news.delivered_at, format: :long) %></li>
        <li>公開状態: <%= @news.status %></li>
      </ul>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
  <%= link_to 'お知らせ一覧に戻る', users_news_index_path %>
</div>