<% provide(:title,  "車両情報一覧") %>

<%= link_to "車両情報新規作成画面へ", new_users_car_path, class: "btn btn-lg btn-block btn-outline-primary" %>
<br>
<% if @cars.present? %>
  <div class="card">
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr align="center">
            <th><%= Car.human_attribute_name(:owner_name) %></th>
            <th><%= Car.human_attribute_name(:safety_manager) %></th>
            <th><%= Car.human_attribute_name(:vehicle_model) %></th>
            <th><%= Car.human_attribute_name(:vehicle_number) %></th>
            <th><%= Car.human_attribute_name(:vehicle_inspection_start_on) %></th>
            <th><%= Car.human_attribute_name(:vehicle_inspection_end_on) %></th>
            <th><%= Car.human_attribute_name(:liability_securities_number) %></th>
            <th><%= Car.human_attribute_name(:liability_insurance_start_on) %></th>
            <th><%= Car.human_attribute_name(:liability_insurance_end_on) %></th>
            <th><%= Car.human_attribute_name(:voluntary_securities_number) %></th>
            <th><%= Car.human_attribute_name(:voluntary_insurance_start_on) %></th>
            <th><%= Car.human_attribute_name(:voluntary_insurance_end_on) %></th>
            <th><%= Car.human_attribute_name(:images) %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cars.each do |car| %>
          <tr align="center">
            <td><%= link_to car.owner_name, users_car_path(car) %></td>
            <td><%= car.safety_manager %></td>
            <td><%= car.vehicle_model %></td>
            <td><%= car.vehicle_number %></td>
            <td><%= car.vehicle_inspection_start_on %></td>
            <td><%= car.vehicle_inspection_end_on %></td>
            <td><%= car.liability_securities_number %></td>
            <td><%= car.liability_insurance_start_on %></td>
            <td><%= car.liability_insurance_end_on %></td>
            <td><%= car.voluntary_securities_number %></td>
            <td><%= car.voluntary_insurance_start_on %></td>
            <td><%= car.voluntary_insurance_end_on %></td>
            <td><%= car.images.present? ? '有' : '無' %></td>
            <td><%= link_to "編集", edit_users_car_path(car), class: "btn btn-md btn-success" %></td>
            <td><%= link_to "削除", users_car_path(car), method: :delete, data: { confirm: "「#{car.vehicle_model}」の車両情報を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
