<div class="container">
  <h1>書類内容編集</h1>
  <%= form_with model: @cover_document, url: users_document_path, method: :patch, local: true do |f| %>
  <table class="table">
    <tbody>
      <tr><td><%= f.label :business_name %></td></tr>
      <tr><td><%= f.text_field :business_name, class: 'form-control' %></td></tr>
      <tr><td><%= f.submit '登録', class: 'btn btn-block btn-outline-dark' %></td></tr>
      <tr><td><%= link_to '書類詳細に戻る', users_document_path(@document), class: 'btn btn-block btn-outline-secondary' %></td></tr>
    </tbody>
  </table>
  <% end %>
</div>
