<% provide(:title, "#{@document.document_type_i18n}編集") %>

<%= form_with model: @document, url: users_request_order_document_path, method: :patch, local: true do |f| %>
  <div class="card-body">
    <table class="table">
      <tr>
        <th><%= f.label '事業所名' %></th>
        <td><%= f.text_field :content, multiple: true, value: @document.content["business_name"], class: 'form-control' %></td>
      </tr>
      <tr>
        <th><%= f.label '書類提出日' %></th>
        <td><%= f.date_field :content, multiple: true, value: @document.content["submitted_on"], class: 'form-control' %></td>
      </tr>
    </table>
  </div>
  <div class="card-footer">
    <%= f.submit '登録', class: 'btn btn-block btn-outline-dark' %>
    <%= link_to "#{@document.document_type_i18n}詳細に戻る", users_request_order_document_path, class: 'btn btn-block btn-outline-secondary' %>
  </div>
<% end %>
