<% provide(:title, "#{@document.document_type_i18n}") %>

<div class="card">
  <div class="card-body"></div>
  <div class="card-footer">
    <%= link_to '編集', edit_users_request_order_document_path(params[:request_order_uuid], @document), class: "btn btn-block btn-outline-dark" %>
    <%= link_to '書類一覧に戻る', users_request_order_documents_path, class: "btn btn-block btn-outline-secondary" %>
    <%= link_to "PDF出力", users_request_order_document_path(params[:request_order_uuid], @document, format: :pdf), target: :_blank, rel: "noopener noreferrer", class: "btn btn-md btn-block btn-default" %>
  </div>
</div>

<div class="document-outer">
  <div id="p1" class="document-inner">
    <div class="text-container">
      <span id="t1_1" class="t s1 a1">元請確認欄 </span>
      <span id="t1_1" class="t s1 a3"> </span>
      <span id="t2_1" class="t s2">施工体制・安全衛生関係提出書類 </span>
      <span id="t3_1" class="t s3">提出会社名 </span>
      <span id="t4_1" class="t s4"><%= @document.content["business_name"] %></span>
      <span id="t5_1" class="t s5">1-1 </span>
      <span id="t6_1" class="t s5">提出日（初回） </span>
      <span id="t6_1" class="t s5 a2"></span>
      <span id="t7_1" class="t s4"><%= @document.content["submitted_on"] %></span>
      <span id="t8_1" class="t s5">1-2 </span>
    </div>
  </div>
</div>
