<% provide(:title,  "DashBoard") %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card pt-5 pb-5">
          <%= link_to "発注", users_orders_path, class: "btn btn-lg byn-block mt-5 mb-5", style: 'font-size:40px;' %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card pt-5 pb-5">
          <%= link_to "事業所", users_business_path, class: "btn btn-lg byn-block mt-5 mb-5", style: 'font-size:40px;' %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card pt-5 pb-5">
          <%= link_to "作業員", users_workers_path, class: "btn btn-lg byn-block mt-5 mb-5", style: 'font-size:40px;' %>
        </div>
      </div>
      <% if current_user.admin? %>
        <div class="col-lg-6">
          <div class="card pt-5 pb-5">
            <%= link_to "ユーザー", users_general_users_path, class: "btn btn-lg byn-block mt-5 mb-5", style: 'font-size:40px;' %>
          </div>
        </div>
      <% end %>
      <div class="col-lg-6">
        <div class="card pt-5 pb-5">
          <%= link_to "車両", users_cars_path, class: "btn btn-lg byn-block mt-5 mb-5", style: 'font-size:40px;' %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card pt-5 pb-5">
          <%= link_to "発注依頼", users_request_orders_path, class: "btn btn-lg byn-block mt-5 mb-5", style: 'font-size:40px;' %>
        </div>
      </div>
    </div>
  </div>
</div>
