<% provide(:title, "#{@document.document_type_i18n}編集") %>

<%= form_with model: @document, url: users_request_order_document_path, method: :patch, local: true do |f| %>
  <div class="card-body">
    <div class="document-outer">
      <div id="eighth-document" class="document-inner">
        <div class="eighth-text-container">
          <div class="ritz grid-container" dir="ltr">
            <table class="waffle no-grid" cellspacing="0" cellpadding="0">
              <thead></thead>
              <tbody>
                <tr style="height: 25px">
                  <td class="s0" colspan="6">参考様式第８号</td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s3"></td>
                  <td class="s4" colspan="3" rowspan="2">
                    元 請<br />
                    確認欄
                  </td>
                  <td class="s5" dir="ltr" colspan="8" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["prime_contractor_confirmation"], placeholder: "「元請会社の確認欄」12-001", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s3"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s7"></td>
                  <td class="s8"></td>
                  <td class="s9"></td>
                  <td class="s10"></td>
                  <td class="s10"></td>
                  <td class="s10"></td>
                  <td class="s10"></td>
                  <td class="s10"></td>
                  <td class="s10"></td>
                  <td class="s10"></td>
                  <td class="s10"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s7"></td>
                  <td class="s8"></td>
                  <td class="s9"></td>
                  <td class="s11" dir="ltr" colspan="8">
                    <%= f.date_field :content, multiple: true, value: @document.content["submitted_on"], placeholder: "「提出日（西暦）」12-002", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s12" colspan="5" rowspan="4"><%= f.text_field :content, multiple: true, value: @document.content["construction_or_commute1"], placeholder: "工事用 or 通勤用 12-003", class: 'form-control form-control-sm' %></td>
                  <td class="s12" colspan="7" rowspan="4">用 車 両 届</td>
                  <td class="s13"></td>
                  <td class="s13"></td>
                  <td class="s13"></td>
                  <td class="s13"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s14" colspan="5"></td>
                  <td class="s1"></td>
                  <td class="s13"></td>
                  <td class="s13"></td>
                  <td class="s13"></td>
                  <td class="s13"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s12" colspan="5" rowspan="2"></td>
                  <td class="s13"></td>
                  <td class="s13"></td>
                  <td class="s13"></td>
                  <td class="s13"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s1"></td>
                  <td class="s13"></td>
                  <td class="s13"></td>
                  <td class="s13"></td>
                  <td class="s13"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                  <td class="s15"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s9" colspan="4" rowspan="2">事業所の名称</td>
                  <td class="s16" dir="ltr" colspan="13" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["business_name"], placeholder: "「事業所名」12-004", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s8"></td>
                  <td class="s8"></td>
                  <td class="s9" colspan="5" rowspan="2">一次会社名</td>
                  <td class="s16" dir="ltr" colspan="12" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["prime_contractor_name"], placeholder: "「一次会社名」12-006", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                  <td class="s8"></td>
                  <td class="s8"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s9" colspan="4" rowspan="2">所　長　名</td>
                  <td class="s17" dir="ltr" colspan="11" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["business_director"], placeholder: "「各会社の現場代理人名」12-005", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s16" colspan="2" rowspan="2">殿</td>
                  <td class="s8"></td>
                  <td class="s8"></td>
                  <td class="s9" colspan="5">使用会社名</td>
                  <td class="s16" dir="ltr" colspan="12" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["subcontractor_name"], placeholder: "自社の「会社名」12-008", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                  <td class="s8"></td>
                  <td class="s8"></td>
                  <td class="s9">（</td>
                  <td class="s18" dir="ltr" colspan="3">
                    「<%= f.number_field :content, multiple: true, value: @document.content["subcontructor_number"], placeholder: "「〇次」12-007", class: 'form-control', min: 1, max: 10 %>次」
                  </td>
                  <td class="s9">）</td>
                </tr>
                <tr style="height: 25px">
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s8"></td>
                  <td class="s8"></td>
                  <td class="s8"></td>
                  <td class="s8"></td>
                  <td class="s8"></td>
                  <td class="s9" colspan="5">現場代理人</td>
                  <td class="s17" dir="ltr" colspan="10" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["site_supervisor"], placeholder: "「各会社の現場代理人」12-009", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s19" dir="ltr" colspan="2" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["seal"], placeholder: "印鑑 12-010", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s7"></td>
                  <td class="s8"></td>
                  <td class="s8"></td>
                  <td class="s8"></td>
                  <td class="s8"></td>
                  <td class="s8"></td>
                  <td class="s9" colspan="5">（現場責任者）</td>
                </tr>
                <tr style="height: 25px">
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s20"></td>
                  <td class="s20"></td>
                  <td class="s20"></td>
                  <td class="s20"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s21" colspan="9"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s22" colspan="4">下記の通り</td>
                  <td class="s22" colspan="6">（<%= f.text_field :content, multiple: true, value: @document.content["construction_or_commute2"], placeholder: "工事用 or 通勤用 12-011", class: 'form-control form-control-sm' %>）用</td>
                  <td class="s22" colspan="12">
                    車両を運行しますので、お届けいたします。
                  </td>
                  <td class="s6"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s2"></td>
                  <td class="s2"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s24"></td>
                  <td class="s24"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                  <td class="s23"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s4" colspan="6" rowspan="2">使用期間</td>
                  <td class="s17" dir="ltr" colspan="14" rowspan="2">
                    <%= f.date_field :content, multiple: true, value: @document.content["start_of_use"], placeholder: "各車両の「使用期間・始期（西暦）」12-012", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s17" colspan="2" rowspan="2">～</td>
                  <td class="s25" dir="ltr" colspan="14" rowspan="2">
                    <%= f.date_field :content, multiple: true, value: @document.content["end_of_use"], placeholder: "「各車両の使用期間・終期（西暦）」12-013", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                </tr>
                <tr style="height: 25px">
                  <td class="s4" colspan="6" rowspan="2">所有者氏名</td>
                  <td class="s25" dir="ltr" colspan="13" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["vehicle_owner"], placeholder: "各車両の「車両所有者名」12-014", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s26" colspan="5">安全運転</td>
                  <td class="s25" colspan="12" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["safety_drive_administrator"], placeholder: "各車両の「安全運転管理者」12-015", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                  <td class="s25" colspan="5">管理者氏名</td>
                </tr>
                <tr style="height: 25px">
                  <td class="s25" rowspan="4">車 両</td>
                  <td class="s4" colspan="5" rowspan="2">型式</td>
                  <td class="s25" colspan="13" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["vehicle_type"], placeholder: "各車両の「車両型式」12-016", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s25" colspan="5" rowspan="2">車両番号</td>
                  <td class="s25" colspan="12" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["vehicle_number"], placeholder: "各車両の「車両番号」12-017", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                </tr>
                <tr style="height: 25px">
                  <td class="s4" colspan="5" rowspan="2">車検期間</td>
                  <td class="s17" colspan="14" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["start_of_valid_vehicle_inspection"], placeholder: "各車両の「車検期間・始期（西暦）」12-018", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s27" colspan="2" rowspan="2">～</td>
                  <td class="s25" colspan="14" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["end_of_valid_vehicle_inspection"], placeholder: "各車両の「車検期間・終期（西暦）」12-019", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                </tr>
                <tr style="height: 25px">
                  <td class="s25" rowspan="6">運 転 者</td>
                  <td class="s4" colspan="5" rowspan="2">氏名</td>
                  <td class="s25" colspan="13" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["vehicle_operator_name"], placeholder: "作業員情報の「氏名」12-020", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s25" colspan="5" rowspan="2">生年月日</td>
                  <td class="s25" colspan="12" rowspan="2">
                    <%= f.date_field :content, multiple: true, value: @document.content["vehicle_operator_birth_date"], placeholder: "作業員情報の「生年月日」12-021", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                </tr>
                <tr style="height: 25px">
                  <td class="s4" colspan="5" rowspan="2">住所</td>
                  <td class="s25" colspan="30" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["vehicle_operator_address"], placeholder: "作業員情報の「住所」12-022", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                </tr>
                <tr style="height: 25px">
                  <td class="s4" colspan="5" rowspan="2">免許の種類</td>
                  <td class="s25" colspan="13" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["vehicle_operator_driving_license_type"], placeholder: "作業員情報の「自動車運転免許の種類」12-023", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s25" colspan="5" rowspan="2">免許番号</td>
                  <td class="s25" colspan="12" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["vehicle_operator_driving_license_number"], placeholder: "作業員情報の「自動車運転免許の番号」12-024", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                </tr>
                <tr style="height: 25px">
                  <td class="s25" rowspan="4">自賠責</td>
                  <td class="s4" colspan="5" rowspan="2">保険会社名</td>
                  <td class="s25" colspan="13" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["vehicle_liability_insurance_company_name"], placeholder: "各車両の「自賠責保険会社名」12-025", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s25" colspan="5" rowspan="2">証券番号</td>
                  <td class="s25" colspan="12" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["vehicle_liability_insurance_number"], placeholder: "各車両の「自賠責保険の証券番号」12-026", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                </tr>
                <tr style="height: 25px">
                  <td class="s4" colspan="5" rowspan="2">保険期間</td>
                  <td class="s17" colspan="14" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["vehicle_liability_insurance_start_of_validity"], placeholder: "各車両の「自賠責保険期間・始期（西暦）」12-027", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s27" colspan="2" rowspan="2">～</td>
                  <td class="s25" colspan="14" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["vehicle_liability_insurance_end_of_validity"], placeholder: "各車両の「自賠責保険期間・終期（西暦）」12-028", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                </tr>
                <tr style="height: 25px">
                  <td class="s25" rowspan="6">任意保険</td>
                  <td class="s4" colspan="5" rowspan="2">保険会社名</td>
                  <td class="s25" colspan="13" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["voluntary_insurance_company_name"], placeholder: "各車両の「任意保険会社名」12-029", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s25" colspan="5" rowspan="2">証券番号</td>
                  <td class="s25" colspan="12" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["voluntary_insurance_number"], placeholder: "各車両の「任意保険の証券番号」12-030", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                </tr>
                <tr style="height: 25px">
                  <td class="s4" colspan="5" rowspan="2">対 人</td>
                  <td class="s17" colspan="10" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["voluntary_insurance_bodily_injury_liability_amount"], placeholder: "各車両の「任意保険の対人」12-031", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s25" colspan="3" rowspan="2">万円</td>
                  <td class="s25" colspan="5" rowspan="2">対 物</td>
                  <td class="s17" colspan="9" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["voluntary_insurance_property_damage_liability_amount"], placeholder: "各車両の「任意保険の対物」12-032", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s25" colspan="3" rowspan="2">万円</td>
                </tr>
                <tr style="height: 25px">
                </tr>
                <tr style="height: 25px">
                  <td class="s4" colspan="5" rowspan="2">保険期間</td>
                  <td class="s17" colspan="14" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["voluntary_insurance_start_of_validity"], placeholder: "各車両の「任意保険期間・始期（西暦）」12-033", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s27" colspan="2" rowspan="2">～</td>
                  <td class="s25" colspan="14" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["voluntary_insurance_end_of_validity"], placeholder: "各車両の「任意保険期間・終期（西暦）」12-034", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                </tr>
                <tr style="height: 25px">
                  <td class="s4" colspan="6" rowspan="2">運行経路</td>
                  <td class="s17" colspan="2" rowspan="2">自</td>
                  <td class="s17" colspan="5" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["departing_from"], placeholder: "各車両の「運行経路(自)」12-035", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s17" colspan="3" rowspan="2">経由</td>
                  <td class="s17" colspan="5" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["routing_point1"], placeholder: "各車両の「運行経路の経由地1」12-036", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s17" colspan="3" rowspan="2">経由</td>
                  <td class="s17" colspan="5" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["routing_point2"], placeholder: "各車両の「運行経路の経由地2」12-037", class: 'form-control form-control-sm' %>
                  </td>
                  <td class="s17" colspan="2" rowspan="2">至</td>
                  <td class="s25" colspan="5" rowspan="2">
                    <%= f.text_field :content, multiple: true, value: @document.content["arriving_at"], placeholder: "各車両の「目的地（至）」12-038", class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr style="height: 25px">
                </tr>
                <tr style="height: 25px">
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                  <td class="s6"></td>
                </tr>
                <tr style="height: 25px">
                  <td class="s28" colspan="2">（注）</td>
                  <td class="s22" colspan="34">
                    １．この届出書は車両１台ごとに提出すること。
                  </td>
                </tr>
                <tr style="height: 25px">

                  <td class="s22"></td>
                  <td class="s22"></td>
                  <td class="s22" colspan="34">
                    ２．この届出書に「任意保険」の証書（写）を添付し提出すること。
                  </td>
                </tr>
                <tr style="height: 25px">
                  <td class="s22"></td>
                  <td class="s22"></td>
                  <td class="s22" colspan="34">
                    ３．運転者が変わった場合はその都度届け出ること。
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= f.submit '登録', class: 'btn btn-block btn-outline-dark' %>
    <%= link_to "#{@document.document_type_i18n}詳細に戻る", users_request_order_document_path, class: 'btn btn-block btn-outline-secondary' %>
  </div>
<% end %>