<% provide(:title, "#{@document.document_type_i18n}") %>

<div class="card">
  <div class="card-body"></div>
  <div class="card-footer">
    <%= link_to '編集', edit_users_request_order_document_path(params[:request_order_uuid], @document), class: "btn btn-block btn-outline-dark" %>
    <%= link_to '書類一覧に戻る', users_request_order_documents_path, class: "btn btn-block btn-outline-secondary" %>
    <%= link_to "PDF出力", users_request_order_document_path(params[:request_order_uuid], @document, format: :pdf), target: :_blank, rel: "noopener noreferrer", class: "btn btn-md btn-block btn-default" %>
  </div>
</div>

<div class="document-outer">
  <div id="eighth-document" class="document-inner">
    <div class="eighth-text-container">
    <%# Copied from the orignal doc after conversion from XLSX to HTML %>
      <div class="ritz grid-container" dir="ltr">
        <table class="waffle no-grid" cellspacing="0" cellpadding="0">
          <thead></thead>
          <tbody>
            <tr style="height: 31px">
              <td class="s0" colspan="6">参考様式第８号</td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s3"></td>
              <td class="s4" colspan="3" rowspan="2">
                元 請<br />
                確認欄
              </td>
              <td class="s5" dir="ltr" colspan="8" rowspan="2">
                <%= @document.content["prime_contractor_confirmation"] %> 12-001
              </td>
            </tr>
            <tr style="height: 31px">
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s3"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s7"></td>
              <td class="s8"></td>
              <td class="s9"></td>
              <td class="s10"></td>
              <td class="s10"></td>
              <td class="s10"></td>
              <td class="s10"></td>
              <td class="s10"></td>
              <td class="s10"></td>
              <td class="s10"></td>
              <td class="s10"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s7"></td>
              <td class="s8"></td>
              <td class="s9"></td>
              <td class="s11" dir="ltr" colspan="8"><%= @document.content["submitted_on"] %> 12-002</td>
            </tr>
            <tr style="height: 31px">
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s12" colspan="5" rowspan="4"><%= @document.content["construction_or_commute1"] %> 12-003</td>
              <td class="s12" colspan="7" rowspan="4">用 車 両 届</td>
              <td class="s13"></td>
              <td class="s13"></td>
              <td class="s13"></td>
              <td class="s13"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s14" colspan="5" rowspan="2"></td>
              <td class="s1"></td>
              <td class="s13"></td>
              <td class="s13"></td>
              <td class="s13"></td>
              <td class="s13"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s12" colspan="5"></td>
              <td class="s13"></td>
              <td class="s13"></td>
              <td class="s13"></td>
              <td class="s13"></td>
              <td class="s15"></td>
              <td class="s15"></td>
              <td class="s15"></td>
              <td class="s15"></td>
              <td class="s15"></td>
              <td class="s15"></td>
              <td class="s15"></td>
              <td class="s15"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s1"></td>
              <td class="s13"></td>
              <td class="s13"></td>
              <td class="s13"></td>
              <td class="s13"></td>
              <td class="s15"></td>
              <td class="s15"></td>
              <td class="s15"></td>
              <td class="s15"></td>
              <td class="s15"></td>
              <td class="s15"></td>
              <td class="s15"></td>
              <td class="s15"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s2"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s9" colspan="4" rowspan="2">事業所の名称</td>
              <td class="s16" dir="ltr" colspan="13" rowspan="2">
                <%= @document.content["business_name"] %> 12-004
              </td>
              <td class="s8"></td>
              <td class="s8"></td>
              <td class="s9" colspan="5" rowspan="2">一次会社名</td>
              <td class="s16" dir="ltr" colspan="12" rowspan="2">
                <%= @document.content["prime_contractor_name"] %> 12-006
              </td>
            </tr>
            <tr style="height: 31px">
              <td class="s8"></td>
              <td class="s8"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s9" colspan="4" rowspan="2">所　長　名</td>
              <td class="s17" dir="ltr" colspan="11" rowspan="2">
                <%= @document.content["business_director"] %> 12-005
              </td>
              <td class="s16" colspan="2" rowspan="2">殿</td>
              <td class="s8"></td>
              <td class="s8"></td>
              <td class="s9" colspan="5">使用会社名</td>
              <td class="s16" dir="ltr" colspan="12" rowspan="2">
                <%= @document.content["subcontractor_name"] %> 12-008
              </td>
            </tr>
            <tr style="height: 31px">
              <td class="s8"></td>
              <td class="s8"></td>
              <td class="s9">（</td>
              <td class="s18" dir="ltr" colspan="3">「<%= @document.content["subcontructor_number"] %>次」12-7</td>
              <td class="s9">）</td>
            </tr>
            <tr style="height: 31px">
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s8"></td>
              <td class="s8"></td>
              <td class="s8"></td>
              <td class="s8"></td>
              <td class="s8"></td>
              <td class="s9" colspan="5">現場代理人</td>
              <td class="s17" dir="ltr" colspan="10" rowspan="2">
                <%= @document.content["site_supervisor"] %> 12-009
              </td>
              <td class="s19" dir="ltr" colspan="2" rowspan="2"><%= @document.content["seal"] %> 12-010</td>
            </tr>
            <tr style="height: 31px">
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s7"></td>
              <td class="s8"></td>
              <td class="s8"></td>
              <td class="s8"></td>
              <td class="s8"></td>
              <td class="s8"></td>
              <td class="s9" colspan="5">（現場責任者）</td>
            </tr>
            <tr style="height: 31px">
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s20"></td>
              <td class="s20"></td>
              <td class="s20"></td>
              <td class="s20"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s21" colspan="9"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s22" colspan="4">下記の通り</td>
              <td class="s22" colspan="6">（<%= @document.content["construction_or_commute2"] %> 12-011）用</td>
              <td class="s22" colspan="12">
                車両を運行しますので、お届けいたします。
              </td>
              <td class="s6"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s2"></td>
              <td class="s2"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s24"></td>
              <td class="s24"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
              <td class="s23"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s4" colspan="6" rowspan="2">使用期間</td>
              <td class="s17" dir="ltr" colspan="14" rowspan="2">
                <%= @document.content["start_of_use"] %> 12-012
              </td>
              <td class="s17" colspan="2" rowspan="2">～</td>
              <td class="s25" dir="ltr" colspan="14" rowspan="2">
                <%= @document.content["end_of_use"] %> 12-013
              </td>
            </tr>
            <tr style="height: 31px">
            </tr>
            <tr style="height: 31px">
              <td class="s4" colspan="6" rowspan="2">所有者氏名</td>
              <td class="s25" dir="ltr" colspan="13" rowspan="2">
                <%= @document.content["vehicle_owner"] %> 12-014
              </td>
              <td class="s26" colspan="5">安全運転</td>
              <td class="s25" colspan="12" rowspan="2">
                <%= @document.content["safety_drive_administrator"] %> 12-015
              </td>
            </tr>
            <tr style="height: 31px">
              <td class="s25" colspan="5">管理者氏名</td>
            </tr>
            <tr style="height: 31px">
              <td class="s25" rowspan="4">車 両</td>
              <td class="s4" colspan="5" rowspan="2">型式</td>
              <td class="s25" colspan="13" rowspan="2">
                <%= @document.content["vehicle_type"] %> 12-016
              </td>
              <td class="s25" colspan="5" rowspan="2">車両番号</td>
              <td class="s25" colspan="12" rowspan="2">
                <%= @document.content["vehicle_number"] %> 12-017
              </td>
            </tr>
            <tr style="height: 31px">
            </tr>
            <tr style="height: 31px">
              <td class="s4" colspan="5" rowspan="2">車検期間</td>
              <td class="s17" colspan="14" rowspan="2">
                <%= @document.content["start_of_valid_vehicle_inspection"] %> 12-018
              </td>
              <td class="s27" colspan="2" rowspan="2">～</td>
              <td class="s25" colspan="14" rowspan="2">
                <%= @document.content["end_of_valid_vehicle_inspection"] %> 12-019
              </td>
            </tr>
            <tr style="height: 31px">
            </tr>
            <tr style="height: 31px">
              <td class="s25" rowspan="6">運 転 者</td>
              <td class="s4" colspan="5" rowspan="2">氏名</td>
              <td class="s25" colspan="13" rowspan="2">
                <%= @document.content["vehicle_operator_name"] %> 12-020
              </td>
              <td class="s25" colspan="5" rowspan="2">生年月日</td>
              <td class="s25" colspan="12" rowspan="2">
                <%= @document.content["vehicle_operator_birth_date"] %> 12-021
              </td>
            </tr>
            <tr style="height: 31px">
            </tr>
            <tr style="height: 31px">
              <td class="s4" colspan="5" rowspan="2">住所</td>
              <td class="s25" colspan="30" rowspan="2">
                <%= @document.content["vehicle_operator_address"] %> 12-022
              </td>
            </tr>
            <tr style="height: 31px">
            </tr>
            <tr style="height: 31px">
              <td class="s4" colspan="5" rowspan="2">免許の種類</td>
              <td class="s25" colspan="13" rowspan="2">
                <%= @document.content["vehicle_operator_driving_license_type"] %> 12-023
              </td>
              <td class="s25" colspan="5" rowspan="2">免許番号</td>
              <td class="s25" colspan="12" rowspan="2">
                <%= @document.content["vehicle_operator_driving_license_number"] %> 12-024
              </td>
            </tr>
            <tr style="height: 31px">
            </tr>
            <tr style="height: 31px">
              <td class="s25" rowspan="4">自賠責</td>
              <td class="s4" colspan="5" rowspan="2">保険会社名</td>
              <td class="s25" colspan="13" rowspan="2">
                <%= @document.content["vehicle_liability_insurance_company_name"] %> 12-025
              </td>
              <td class="s25" colspan="5" rowspan="2">証券番号</td>
              <td class="s25" colspan="12" rowspan="2">
                <%= @document.content["vehicle_liability_insurance_number"] %> 12-026
              </td>
            </tr>
            <tr style="height: 31px">
            </tr>
            <tr style="height: 31px">
              <td class="s4" colspan="5" rowspan="2">保険期間</td>
              <td class="s17" colspan="14" rowspan="2">
                <%= @document.content["vehicle_liability_insurance_start_of_validity"] %> 12-027
              </td>
              <td class="s27" colspan="2" rowspan="2">～</td>
              <td class="s25" colspan="14" rowspan="2">
                <%= @document.content["vehicle_liability_insurance_end_of_validity"] %> 12-028
              </td>
            </tr>
            <tr style="height: 31px">
            </tr>
            <tr style="height: 31px">
              <td class="s25" rowspan="6">任意保険</td>
              <td class="s4" colspan="5" rowspan="2">保険会社名</td>
              <td class="s25" colspan="13" rowspan="2">
                <%= @document.content["voluntary_insurance_company_name"] %> 12-029
              </td>
              <td class="s25" colspan="5" rowspan="2">証券番号</td>
              <td class="s25" colspan="12" rowspan="2">
                <%= @document.content["voluntary_insurance_number"] %> 12-030
              </td>
            </tr>
            <tr style="height: 31px">
            </tr>
            <tr style="height: 31px">
              <td class="s4" colspan="5" rowspan="2">対 人</td>
              <td class="s17" colspan="10" rowspan="2">
                <%= @document.content["voluntary_insurance_bodily_injury_liability_amount"] %> 12-031
              </td>
              <td class="s25" colspan="3" rowspan="2">万円</td>
              <td class="s25" colspan="5" rowspan="2">対 物</td>
              <td class="s17" colspan="9" rowspan="2">
                <%= @document.content["voluntary_insurance_property_damage_liability_amount"] %> 12-032
              </td>
              <td class="s25" colspan="3" rowspan="2">万円</td>
            </tr>
            <tr style="height: 31px">
            </tr>
            <tr style="height: 31px">
              <td class="s4" colspan="5" rowspan="2">保険期間</td>
              <td class="s17" colspan="14" rowspan="2">
                <%= @document.content["voluntary_insurance_start_of_validity"] %> 12-033
              </td>
              <td class="s27" colspan="2" rowspan="2">～</td>
              <td class="s25" colspan="14" rowspan="2">
                <%= @document.content["voluntary_insurance_end_of_validity"] %> 12-034
              </td>
            </tr>
            <tr style="height: 31px">
            </tr>
            <tr style="height: 31px">
              <td class="s4" colspan="6" rowspan="2">運行経路</td>
              <td class="s17" colspan="2" rowspan="2">自</td>
              <td class="s17" colspan="5" rowspan="2">
                <%= @document.content["departing_from"] %> 12-035
              </td>
              <td class="s17" colspan="3" rowspan="2">経由</td>
              <td class="s17" colspan="5" rowspan="2">
                <%= @document.content["routing_point1"] %> 12-036
              </td>
              <td class="s17" colspan="3" rowspan="2">経由</td>
              <td class="s17" colspan="5" rowspan="2">
                <%= @document.content["routing_point2"] %> 12-037
              </td>
              <td class="s17" colspan="2" rowspan="2">至</td>
              <td class="s25" colspan="5" rowspan="2">
                <%= @document.content["arriving_at"] %> 12-038
              </td>
            </tr>
            <tr style="height: 31px">
            </tr>
            <tr style="height: 31px">
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
              <td class="s6"></td>
            </tr>
            <tr style="height: 31px">
              <td class="s28" colspan="2">（注）</td>
              <td class="s22" colspan="34">
                １．この届出書は車両１台ごとに提出すること。
              </td>
            </tr>
            <tr style="height: 31px">

              <td class="s22"></td>
              <td class="s22"></td>
              <td class="s22" colspan="34">
                ２．この届出書に「任意保険」の証書（写）を添付し提出すること。
              </td>
            </tr>
            <tr style="height: 31px">
              <td class="s22"></td>
              <td class="s22"></td>
              <td class="s22" colspan="34">
                ３．運転者が変わった場合はその都度届け出ること。
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
