<% provide(:title,  "その他ユーザー一覧") %>

<%= link_to "その他ユーザー新規作成画面へ", new_users_general_user_path, class: "btn btn-lg btn-block btn-outline-primary" %>
<br>
<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <thead>
        <tr>
          <th><%= User.human_attribute_name(:name) %></th>
          <th><%= User.human_attribute_name(:email) %></th>
          <th><%= User.human_attribute_name(:age) %></th>
          <th><%= User.human_attribute_name(:gender) %></th>
        </tr>
      </thead>
      <tbody>
        <% @general_users.each do |general_user| %>
        <tr>
          <td><%= link_to general_user.name, users_general_user_path(general_user) %></td>
          <td><%= general_user.email %></td>
          <td><%= general_user.age %></td>
          <td><%= general_user.gender_i18n %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>