<% provide(:title, '施工体制台帳作成建設工事の通知編集') %>

<%= form_with model: @document, url: users_request_order_document_path, method: :patch, local: true do |f| %>
  <div class="card-body">
    <div class="document-outer">
      <div id="sd_p1" class="document-inner">
        <div class="sd_text-container">
          <span id="sd_t5_1" class="sd_t sd_s2">写しの交付が必要である」旨を伝えなければなりません。 </span>
          <span id="sd_t6_1" class="sd_t sd_s2">なお、当工事の概要は次の通りですが、不明の点は下記の担当者に照会ください。 </span>
          <span id="sd_td_1" class="sd_t sd_s2">他に下請負を行わせる場合は、この書面を複写し交付して、「もし更に他の者に工事を請け負わせ </span>
          <span id="sd_te_1" class="sd_t sd_s2">たときは、『再下請負通知書』を提出するとともに、関係する後次の下請負業者に対してこの書面の </span>
          <span id="sd_tq_1" class="sd_t sd_s2">ます。 </span>
          <span id="sd_tr_1" class="sd_t sd_s2">一次下請負業者の方は、後次の下請負業者から提出される再下請負通知を取りまとめ、下請負業者 </span>
          <span id="sd_ts_1" class="sd_t sd_s2">編成表とともに提出してください。 </span>
          <span id="sd_tt_1" class="sd_t sd_s2">②再下請負業者に対する通知 </span>
          <span id="sd_tu_1" class="sd_t sd_s2">①再下請負通知書の提出 </span>
          <span id="sd_tv_1" class="sd_t sd_s2">建設業法第24条の7第2項の規定により、遅滞なく、建設業法施行規則（昭和24年建設省令第14号） </span>
          <span id="sd_tw_1" class="sd_t sd_s2">第14条の4に規定する再下請負通知書により、自社の建設業登録や主任技術者等の選任状況及び再下 </span>
          <span id="sd_tx_1" class="sd_t sd_s2">請負契約がある場合はその状況を、直近上位の注文者を通じて元請負業者に報告されるようお願いし </span>
          <span id="sd_ty_1" class="sd_t sd_s2">この建設工事に従事する下請負業者の方は、一次、二次等の層次を問わず、その請け負った建設工事を </span>
          <span id="sd_tz_1" class="sd_t sd_s2">他の建設業を営む者（建設業の許可を受けていない者を含みます。）に請け負わせたときは、速やかに次 </span>
          <span id="sd_t10_1" class="sd_t sd_s2">の手続きを実施してください。 </span>
          <span id="sd_t11_1" class="sd_t sd_s2">なお、一度提出いただいた事項や書類に変更が生じたときも、遅滞なく、変更の年月日を付記して再提 </span>
          <span id="sd_t12_1" class="sd_t sd_s2">出しなければなりません。 </span>
          <span id="sd_t15_1" class="sd_t sd_s5">施工体制台帳作成建設工事の通知 </span>
          <span id="sd_t16_1" class="sd_t sd_s2">当工事は、建設業法（昭和24年法律第100号）第24条の7に基づく施工体制台帳の作成を要する建設工事 </span>
          <span id="sd_t17_1" class="sd_t sd_s2">です。 </span>
          <span id="sd_t18_1" class="sd_t sd_s1">(全建統一様式第２号) </span>
          <span id="sd_t19_1" class="sd_t sd_s2"><%= f.date_field :content, multiple: true,
                                      value: @document.content["submitted_on"],
                                      placeholder: '提出日（西暦）3-1',
                                      class: 'form-control form-control-sm' %></span>
          <span id="sd_t1a_1" class="sd_t sd_s6">下請負業者の皆さんへ </span>
          <span id="sd_t1b_1" class="sd_t sd_s2">【元請負業者】 </span>
          <span id="sd_t1c_1" class="sd_t sd_s2">
            <%= f.text_field :content, multiple: true,
                                      value: @document.content["prime_contractor_name"],
                                      placeholder: '「元請会社名」3-2',
                                      class: 'form-control form-control-sm' %></span>
          <span id="sd_t1f_1_1" class="sd_t sd_s2"></span>
          <span id="sd_t13_1" class="sd_t sd_s2">
            <%= f.text_field :content, multiple: true,
                                      value: @document.content["site_name"],
                                      placeholder: '「現場名」3-3',
                                      class: 'form-control form-control-sm' %></span>
          <span id="sd_t13_1_1" class="sd_t sd_s2"></span>
          <span id="sd_t14_1" class="sd_t sd_s2">事業所の名称 </span>
          <span id="sd_t1d_1" class="sd_t sd_s2">会 </span>
          <span id="sd_t1e_1" class="sd_t sd_s2">社 </span>
          <span id="sd_t1f_1" class="sd_t sd_s2">名 </span>

          <div id="sd_p2" class="sd_t sd_2 sd_text-container col-10">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="sd_td_1">元 請 名</td>
                  <td class="sd_td_1" colspan="3">
                    <%= f.text_field :content, multiple: true,
                                              value: @document.content["business_name"],
                                              placeholder: '「会社名」3-4',
                                              class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr>
                  <td class="sd_td_1">発 注 者 名</td>
                  <td class="sd_td_1" colspan="3">
                    <%= f.text_field :content, multiple: true,
                                              value: @document.content["orderer_name"],
                                              placeholder: '「発注者名」3-5',
                                              class: 'form-control form-control-sm' %>
                  </td>
                </tr>
                <tr>
                  <td class="sd_td_1">工 事 名</td>
                  <td class="sd_td_1" colspan="3">
                    <%= f.text_field :content, multiple: true,
                                              value: @document.content["construction_name"],
                                              placeholder: '元請会社の「各会社の工事名」3-6',
                                              class: 'form-control form-control-sm' %>
                </td>
                <tr>
                  <td class="sd_td_1" style="width: 15%">監 督 員 名</td>
                  <td class="sd_td_1" style="width: 20%">
                    <%= f.text_field :content, multiple: true,
                                              value: @document.content["supervisor_name"],
                                              placeholder: '元請会社の「各会社の監督員名」3-7',
                                              class: 'form-control form-control-sm' %>
                  </td>
                  <td class="sd_td_1" style="width: 15%">権限及び意見<br>申出方法</td>
                  <td class="sd_td_1" style="vertical-align: middle !important">
                    <%= f.text_field :content, multiple: true,
                                              value: @document.content["apply"],
                                              placeholder: '「各会社の監督員名・権限及び意見の申出方法」3-8',
                                              class: 'form-control form-control-sm' %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="sd_p3" class="sd_t sd_3 sd_text-container col-10">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="sd_td_1" style="width: 15%">提出先及び<br>担 当 者</td>
                  <td class="sd_td_1" style="vertical-align: middle !important">
                    <%= f.text_field :content, multiple: true,
                                        value: @document.content["submission_destination"],
                                        placeholder: '「提出先及び担当者（元請会社のみ）」3-9',
                                        class: 'form-control form-control-sm' %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= f.submit '登録', class: 'btn btn-block btn-outline-dark' %>
    <%= link_to '施工台帳詳細に戻る', users_request_order_documents_path, class: 'btn btn-block btn-outline-secondary' %>
  </div>
<% end %>
