<% provide(:title, "発注編集") %>
<% provide(:btn_text, "更新") %>

<div class="card">
  <%= form_with model: @order, url: users_order_path, method: :patch, local: true, class: "order-form-validation" do |f| %>
    <div class="card-body">
      <%= render partial: "form", locals: { f: f, order: @order} %>
    </div>
    <div class="card-footer">
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-success" %>
      <%= link_to "詳細画面へ", users_order_path(@order), class: "btn btn-md btn-block btn-default" %>
      <%= link_to "一覧画面へ", users_orders_path, class: "btn btn-md btn-block btn-default" %>
    </div>
  <% end %>
</div>
