<% provide(:title, "発注依頼詳細") %>

<!-- 発注依頼詳細 -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 mb-2">
                <% if @request_order.submitted? %>
                  <button class="btn btn-block btn-outline-primary"disabled>申請済</button> 
                <% else %>
                  <%= link_to "申請する", users_request_order_submit_path(@request_order),
                                        method: :post,
                                        class: "btn btn-block btn-outline-primary"
                  %>
                <% end %>
              </div>
                <div class="col-md-4 mb-2">
                <%= link_to "下請けへ書類作成依頼", new_users_request_order_sub_request_order_path(@request_order),
                                                      class: "btn btn-block btn-primary"
                %>
              </div>
                <div class="col-md-4 mb-2">
                <%= link_to "発注依頼一覧", users_request_orders_path, class: "btn btn-block btn-default" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <div class="row">
            <div class="col-md-4 mb-2">
              <%= RequestOrder.human_attribute_name(:status) %>：<%= @request_order.status_i18n %>
            </div>
            <div class="col-md-8 mb-2">
              <%= Business.human_attribute_name(:name) %>：<%= @request_order.business.name %>
              <%= link_to "(書類一覧)", users_request_order_documents_path(@request_order) unless @request_order.parent_id.present? %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 下請け依頼一覧 -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0"><%= '下請け依頼一覧' %></h1>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <% @sub_request_orders.each do |sub_request_order| %>
        <div class="card card-secondary card-outline">
          <div class="card-body">
            <div class="row">
            <div class="col-md-4 mb-2">
              <%= RequestOrder.human_attribute_name(:status) %>：<%= sub_request_order.status_i18n %>
            </div>
            <div class="col-md-8 mb-2">
              <%= Business.human_attribute_name(:name) %>：<%= sub_request_order.business.name %>
              <%= link_to "(書類一覧)", users_request_order_documents_path(@request_order) unless @request_order.parent_id.present? %>
            </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
