<% provide(:title, "発注依頼詳細") %>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4 col-4 mb-2">
              <% if @request_order.submitted? %>
                <button class="btn btn-block btn-outline-primary"disabled>申請済</button> 
              <% else %>
                <%= link_to "申請する", users_request_order_submit_path(@request_order),
                                      method: :post,
                                      class: "btn btn-block btn-outline-primary"
                %>
              <% end %>
              </div>
              <div class="col-sm-4 col-4 mb-2">
              <%= link_to "下請けへ書類作成依頼", new_users_request_order_sub_request_order_path(@request_order),
                                                    class: "btn btn-block btn-primary"
              %>
              </div>
              <div class="col-sm-4 col-4 mb-2">
              <%= link_to "一覧画面へ", users_request_orders_path, class: "btn btn-block btn-default" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-6">

        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <%= RequestOrder.human_attribute_name(:status) %>
            </h3>
          </div>
          <div class="card-body">
            <%= @request_order.status_i18n %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-6">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <%= Business.human_attribute_name(:name) %>
            </h3>
          </div>
          <div class="card-body">
            <%= @request_order.business.name %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0"><%= '下請け依頼一覧' %></h1>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body table-responsive p-0">
    <% @sub_request_orders.each do |sub_request_order| %>
      <table class="table table-hover text-nowrap">
        <tbody>
          <tr>
            <th><%= RequestOrder.human_attribute_name(:status) %></th>
            <td><%= sub_request_order.status_i18n %></td>
          </tr>
          <tr>
            <th><%= Business.human_attribute_name(:name) %></th>
            <td><%= sub_request_order.business.name %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
