<%= render 'shared/error_massages', object: f.object %>

<%= f.label :name %>
<%= f.text_field :name, class: "form-control", placeholder: Worker.human_attribute_name(:name) %><br>

<%= f.label :name_kana %>
<%= f.text_field :name_kana, class: "form-control", placeholder: Worker.human_attribute_name(:name_kana) %><br>

<%= f.label :country %>
<%= f.text_field :country, class: "form-control", placeholder: Worker.human_attribute_name(:country) %><br>

<%= f.label :my_address %>
<%= f.text_field :my_address, class: "form-control", placeholder: Worker.human_attribute_name(:my_address) %><br>

<%= f.label :my_phone_number %>
<%= f.text_field :my_phone_number, class: "form-control", placeholder: Worker.human_attribute_name(:my_phone_number) %><br>

<%= f.label :family_address %>
<%= f.text_field :family_address, class: "form-control", placeholder: Worker.human_attribute_name(:family_address) %><br>

<%= f.label :family_phone_number %>
<%= f.text_field :family_phone_number, class: "form-control", placeholder: Worker.human_attribute_name(:family_phone_number) %><br>

<%= f.label :birth_day_on %>
<%= f.date_field :birth_day_on, class: "form-control", placeholder: Worker.human_attribute_name(:birth_day_on) %><br>

<%= f.label :abo_blood_type %>
<%= f.select :abo_blood_type, Worker.abo_blood_types_i18n.invert, {}, {class: "form-control"} %><br>

<%= f.label :rh_blood_type %>
<%= f.select :rh_blood_type, Worker.rh_blood_types_i18n.invert, {include_blank: true}, {class: "form-control"} %><br>

<!-- 下記職種はenum未設計の為ひとまずintegerの数字が表示されるようにしています -->
<%= f.label :job_type %>
<%= f.number_field :job_type, class: "form-control" %><br>
<!-- -->

<%= f.label :hiring_on %>
<%= f.date_field :hiring_on, class: "form-control", placeholder: Worker.human_attribute_name(:hiring_on) %><br>

<%= f.label :experience_term_before_hiring %>
<%= f.number_field :experience_term_before_hiring, class: "form-control", min: 0 %><br>

<%= f.label :blank_term %>
<%= f.number_field :blank_term, class: "form-control", min: 0 %><br>

<%= f.label :carrier_up_id %>
<%= f.text_field :carrier_up_id, class: "form-control", placeholder: Worker.human_attribute_name(:carrier_up_id) %><br>

<!-- WorkerLicenseここから -->
<div class="list-group">
  <div class="list-group-item">
    <%= f.fields_for :worker_licenses do |w_license| %>
      <%= render "worker_license_fields", f: w_license %>
    <% end %>
    <div id="license-insertion-point"></div>
    <%= link_to_add_association "＋フォーム追加", f, :worker_licenses,
      data: {
        association_insertion_node: '#license-insertion-point',
        association_insertion_method: 'append'
      }
    %>
  </div>
<!-- WorkerLicenseここまで -->

<!-- WorkerSkillTrainingここから -->
  <div class="list-group-item">
    <%= f.fields_for :worker_skill_trainings do |w_skill_training| %>
      <%= render "worker_skill_training_fields", f: w_skill_training %>
    <% end %>
    <div id="skill-insertion-point"></div>
    <%= link_to_add_association "＋フォーム追加", f, :worker_skill_trainings,
      data: {
        association_insertion_node: '#skill-insertion-point',
        association_insertion_method: 'append'
        }
    %>
  </div>
<!-- WorkerSkillTrainingここまで -->

<!-- WorkerSpecialEducationここから -->
  <div class="list-group-item">
    <%= f.fields_for :worker_special_educations do |w_special_education| %>
      <%= render "worker_special_education_fields", f: w_special_education %>
    <% end %>
    <div id="special-insertion-point"></div>
    <%= link_to_add_association "＋フォーム追加", f, :worker_special_educations,
      data: {
        association_insertion_node: '#special-insertion-point',
        association_insertion_method: 'append'
        }
    %>
  </div>
<!-- WorkerSpecialEducationここまで -->

  <!-- WorkerMedicalここから -->
  <div class="list-group-item">
    <div class="row">
      <%= f.fields_for :worker_medical do |worker_medical| %>
        <%= worker_medical.label :med_exam_on %>
        <%= worker_medical.date_field :med_exam_on, class: "form-control" %>
        <%= worker_medical.label :max_blood_pressure %>
        <%= worker_medical.number_field :max_blood_pressure, class: "form-control" %>
        <%= worker_medical.label :min_blood_pressure %>
        <%= worker_medical.number_field :min_blood_pressure, class: "form-control" %>
        <%= worker_medical.label :special_med_exam_on %>
        <%= worker_medical.date_field :special_med_exam_on, class: "form-control" %>

        <%= worker_medical.fields_for :worker_exams do |worker_exam| %>
          <div class="col-md-3">
            <%= worker_exam.label :special_med_exam_id %>
            <%= worker_exam.collection_select :special_med_exam_id, SpecialMedExam.all, :id, :name, { prompt: '特別健康診断の種類を選択してください' }, { class: "form-control" } %><br>
          </div>
          <div class="col-md-2">
            <%= worker_exam.label :got_on %>
            <%= worker_exam.date_field :got_on, class: "form-control" %><br>
          </div>
          <div class="col-md-3">
            <%= worker_exam.label :images %>
            <%= worker_exam.file_field :images, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
          </div>

          <div class="col-md-3" style="margin-bottom: 10px;">
            <% worker_exam.object.images.each_with_index do |image, index| %>
              <%= image_tag(image.url) %>
              <%= link_to "削除", users_worker_update_workerexam_images_path(@worker.worker_medical, index: index, worker_exam_id: worker_exam.object.id), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
            <% end %>
          </div>

        <% end %>
      <% end %>
    </div><br>
  </div>
  <!-- WorkerMedicalここまで -->
</div>
