<div class="nested-fields">
  <div class="row">
    <div class="col-md-3">
      <%= f.label :skill_training_id %>
      <%= f.collection_select :skill_training_id, SkillTraining.all, :id, :name, { prompt: '技能講習を選択してください' }, { class: "form-control" } %><br>
    </div>
    <div class="col-md-2">
      <%= f.label :got_on %>
      <%= f.date_field :got_on, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :images %>
      <%= f.file_field :images, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
    </div>
    <div class="col-md-1" style="margin-top: 30px;">
      <%= link_to_remove_association "×", f, class: 'btn btn-danger' %>
    </div>
    <div class="col-md-3" style="margin-bottom: 10px;">
      <% f.object.images.each_with_index do |image, index| %>
        <%= image_tag(image.url) %>
        <%= link_to "削除", users_worker_update_workerskilltraining_images_path(@worker, index: index, worker_skill_training_id: f.object.id), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
      <% end %>
    </div>
  </div>
</div>
