<div class="nested-fields">
  <div class="row">
    <div class="col-md-3">
      <%= f.label :license_id %>
      <%= f.collection_select :license_id, License.all, :id, :name, { prompt: '免許を選択してください' }, { class: "form-control" } %>
    </div>
    <div class="col-md-2">
      <%= f.label :got_on %>
      <%= f.date_field :got_on, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :images %>
      <%= f.file_field :images, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
    </div>
    <div class="col-md-4">
      <% @worker.worker_licenses.each do |worker_license| %>
        <% worker_license.images.each_with_index do |image, index| %>
          <%= image_tag(image.url) %>
          <%= link_to "削除", users_worker_update_workerlicense_images_path(worker, index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
        <% end %>
      <% end %>
      <%= link_to_remove_association "削除", f, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
