<% provide(:title,  "作業員一覧") %>

<%= link_to "作業員新規作成画面へ", new_users_worker_path, class: "btn btn-lg btn-block btn-outline-primary" %>
<br>
<% if @workers.present? %>
  <div class="card">
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr align="center">
            <th><%= Worker.human_attribute_name(:name) %></th>
            <th><%= Worker.human_attribute_name(:name_kana) %></th>
            <th><%= Worker.human_attribute_name(:my_phone_number) %></th>
            <th><%= Worker.human_attribute_name(:hiring_on) %></th>
            <th><%= Worker.human_attribute_name(:experience_term_before_hiring) %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @workers.each do |worker| %>
          <tr align="center">
            <td><%= link_to worker.name, users_worker_path(worker) %></td>
            <td><%= worker.name_kana %></td>
            <td><%= worker.my_phone_number %></td>
            <td><%= worker.hiring_on %></td>
            <td><%= worker.experience_term_before_hiring %></td>
            <td><%= link_to "編集", edit_users_worker_path(worker), class: "btn btn-md btn-success" %></td>
            <td><%= link_to "削除", users_worker_path(worker), method: :delete, data: { confirm: "#{worker.name}を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
