<% provide(:title, "作業員詳細") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <tbody>
        <tr>
          <th><%= Worker.human_attribute_name(:name) %></th>
          <td><%= @worker.name %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:name_kana) %></th>
          <td><%= @worker.name_kana %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:country) %></th>
          <td><%= @worker.country %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:my_address) %></th>
          <td><%= @worker.my_address %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:my_phone_number) %></th>
          <td><%= @worker.my_phone_number %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:family_address) %></th>
          <td><%= @worker.family_address %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:family_phone_number) %></th>
          <td><%= @worker.family_phone_number %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:birth_day_on) %></th>
          <td><%= @worker.birth_day_on %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:abo_blood_type) %></th>
          <td><%= @worker.abo_blood_type_i18n %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:rh_blood_type) %></th>
          <td><%= @worker.rh_blood_type_i18n %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:job_type) %></th>
          <td><%= @worker.job_type %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:hiring_on) %></th>
          <td><%= @worker.hiring_on %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:experience_term_before_hiring) %></th>
          <td><%= @worker.experience_term_before_hiring %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:blank_term) %></th>
          <td><%= @worker.blank_term %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= Worker.human_attribute_name(:carrier_up_id) %></th>
          <td><%= @worker.carrier_up_id %></td>
          <td></td>
          <td></td>
        </tr>
        <!-- worker_liceseここから -->
        <tr bgcolor="#dee2e6">
          <th></th>
          <th><%= License.human_attribute_name(:name) %></th>
          <th><%= WorkerLicense.human_attribute_name(:got_on) %></th>
          <th><%= WorkerLicense.human_attribute_name(:images) %></th>
        </tr>
        <% @worker.worker_licenses.each do |worker_license| %>
          <tr>
            <% if @worker.licenses.first.id == worker_license.license_id %>
              <th><%= WorkerLicense.human_attribute_name(:license_id) %></th>
            <% else %>
              <th></th>
            <% end %>
            <td><%= worker_license.license.name %></td>
            <td><%= worker_license.got_on %></td>
            <td>
              <% worker_license.images.each do |image| %>
                <%= image_tag(image.url) %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <!-- worker_liceseここまで -->
        <!-- worker_skill_trainingここから -->
        <tr bgcolor="#dee2e6">
          <th></th>
          <th><%= SkillTraining.human_attribute_name(:name) %></th>
          <th><%= WorkerSkillTraining.human_attribute_name(:got_on) %></th>
          <th><%= WorkerSkillTraining.human_attribute_name(:images) %></th>
        </tr>
        <% @worker.worker_skill_trainings.each do |worker_skill_training| %>
          <tr>
            <% if @worker.skill_trainings.first.id == worker_skill_training.skill_training_id %>
              <th><%= WorkerSkillTraining.human_attribute_name(:skill_training_id) %></th>
            <% else %>
              <th></th>
            <% end %>
            <td><%= worker_skill_training.skill_training.name %></td>
            <td><%= worker_skill_training.got_on %></td>
            <td>
              <% worker_skill_training.images.each do |image| %>
                <%= image_tag(image.url) %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <!-- worker_skill_trainingここまで -->
        <!-- worker_special_educationここから -->
        <tr bgcolor="#dee2e6">
          <th></th>
          <th><%= SpecialEducation.human_attribute_name(:name) %></th>
          <th><%= WorkerSpecialEducation.human_attribute_name(:got_on) %></th>
          <th><%= WorkerSpecialEducation.human_attribute_name(:images) %></th>
        </tr>
        <% @worker.worker_special_educations.each do |worker_special_education| %>
          <tr>
            <% if @worker.special_educations.first.id == worker_special_education.special_education_id %>
              <th><%= WorkerSpecialEducation.human_attribute_name(:special_education_id) %></th>
            <% else %>
              <th></th>
            <% end %>
            <td><%= worker_special_education.special_education.name %></td>
            <td><%= worker_special_education.got_on %></td>
            <td>
              <% worker_special_education.images.each do |image| %>
                <%= image_tag(image.url) %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <!-- worker_medicalここから -->
        <tr bgcolor="#dee2e6">
          <th colspan="4"><%= WorkerMedical.human_attribute_name(:id) %></th>
        </tr>
        <tr>
          <th><%= WorkerMedical.human_attribute_name(:med_exam_on) %></th>
          <td><%= @worker.worker_medical.med_exam_on %><td>
          <td></td>
        </tr>
        <tr>
          <th><%= WorkerMedical.human_attribute_name(:max_blood_pressure) %></th>
          <td><%= @worker.worker_medical.max_blood_pressure %><td>
          <td></td>
        </tr>
        <tr>
          <th><%= WorkerMedical.human_attribute_name(:min_blood_pressure) %></th>
          <td><%= @worker.worker_medical.min_blood_pressure %><td>
          <td></td>
        </tr>
        <!-- worker_medicalここまで -->
        <!-- worker_examここから -->
        <tr bgcolor="#dee2e6">
          <th></th>
          <th><%= SpecialMedExam.human_attribute_name(:name) %></th>
          <th><%= WorkerExam.human_attribute_name(:got_on) %></th>
          <th><%= WorkerExam.human_attribute_name(:images) %></th>
        </tr>
        <tr>
          <% @worker.worker_medical.worker_exams.each do |worker_exam| %>
            <th><%= WorkerExam.human_attribute_name(:special_med_exam_id) %></th>
            <td><%= worker_exam.special_med_exam.name %></td>
            <td><%= worker_exam.got_on %></td>
            <td>
              <%# worker_exam.images.each do |image| %>
                <%#= image_tag(image.url) %>
              <%# end %>
            </td>
          <% end %>
        </tr>
        <!-- worker_examここまで -->
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= link_to "編集", edit_users_worker_path(@worker), class: "btn btn-md btn-block btn-success" %>
    <%= link_to "削除", users_worker_path(@worker), method: :delete, data: { confirm: "#{@worker.name}を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger btn-block" %>
    <%= link_to "一覧画面へ", users_workers_path, class: "btn btn-md btn-block btn-default" %>
  </div>
</div>
