<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to users_dash_boards_path, class:"brand-link", style: "display: flex" do %>
    <%= image_tag "kensuma/03", class:"brand-image elevation-3", style: "opacity: .8" %>
    <%# <span class="brand-text font-weight-light">建スマ</span> %>
  <% end %>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <%#= image_tag "user2-160x160.jpg", class:"img-circle elevation-2" %>
      </div>
      <div class="info">
        <%= link_to current_user.name, users_profile_path, class:"d-block" %>
        <%= link_to "ログアウト", destroy_user_session_path, class:"d-block mt-3", method: :delete %>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- 表紙 -->
        <%= link_to users_request_order_document_path(params[:request_order_uuid], @documents.find_by(document_type: 0)), class:"nav-link" do %>
          <li class="nav-item">
            <i class="nav-icon fas fa-file"></i>
            <p><%= @documents.find_by(document_type: 0).document_type_i18n %></p>
          </li>
        <% end %>

        <!-- 目次 -->
        <%= link_to users_request_order_document_path(params[:request_order_uuid], @documents.find_by(document_type: 1)), class:"nav-link" do %>
          <li class="nav-item">
            <i class="nav-icon fas fa-file"></i>
            <p><%= @documents.find_by(document_type: 1).document_type_i18n %></p>
          </li>
        <% end %>

        <!-- 施⼯体制台帳作成建設⼯事の通知 -->
        <%= link_to users_request_order_document_path(params[:request_order_uuid],  @documents.find_by(document_type: 2)), class:"nav-link" do %>
          <li class="nav-item">
            <i class="nav-icon fas fa-file"></i>
            <p><%= @documents.find_by(document_type: 2).document_type_i18n %></p>
          </li>
        <% end %>

        <!-- 作業員名簿 -->
        <%= link_to users_request_order_document_path(params[:request_order_uuid],  @documents.find_by(document_type: 5)), class:"nav-link" do %>
          <li class="nav-item">
            <i class="nav-icon fas fa-file"></i>
            <p><%= @documents.find_by(document_type: 5).document_type_i18n %></p>
          </li>
        <% end %>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
