<% provide(:title, "#{@document.document_type_i18n}編集") %>

<%= form_with model: @document, url: users_request_order_document_path, method: :patch, local: true do |f| %>
  <div class="card-body">
    <%= render partial: "users/documents/doc_5th/form", locals: { f: f, document: @document} %>
  </div>
  
  <div class="card-footer">
    <%= f.submit '登録', class: 'btn btn-block btn-outline-dark' %>
    <%= link_to "#{@document.document_type_i18n}詳細に戻る", users_request_order_document_path, class: 'btn btn-block btn-outline-secondary' %>
  </div>
<% end %>

<%= form_with model: @document, url: users_request_order_document_path do |f| %>
  <!-- 作業員情報 追加 -->
  <div>
    <div id = "add_worker_form" class="not_display">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">作業員 新規登録</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body" style="display: block;">
          <div class="list-group">
            <div class="list-group-item">
              <div class="row">
                <div class="col-md-3">
                  <%= f.label '8-012 フリガナ' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_012_furigana][]",
                                            value: '',
                                            class: "form-control", placeholder: 'フリガナ'
                  %><br>
                </div>
                <div class="col-md-3">
                  <%= f.label '8-013 氏名' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_013_worker_name][]",
                                            value: '',
                                            class: "form-control", placeholder: '氏名'
                  %><br>
                </div>
                <div class="col-md-2">
                  <%= f.label '8-014 技能者ID' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_014_skilled_person_id][]",
                                            value: '',
                                            class: "form-control", placeholder: '技能者ID'
                  %><br>
                </div>
                <div class="col-md-2">
                  <%= f.label '8-015 職種' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_015_occupation][]",
                                            value: '',
                                            class: "form-control", placeholder: '職種'
                  %><br>
                </div>
                <div class="col-md-2">
                  <%= f.label '8-016 記号' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_016_symbol][]",
                                            value: '',
                                            class: "form-control", placeholder: '記号'
                  %><br>
                </div>
              </div>
          
              <div class="row">
                <div class="col-md-3">
                  <!-- 日付入力フォーム -->
                  <%= f.label '8-017 雇入年月日' %>
                  <%= f.date_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_017_employment_date][]",
                                            value: '',
                                            class: "form-control", placeholder: '雇入年月日'
                  %><br>
                </div>
                <div class="col-md-3">
                  <%= f.label '8-018 経験年数(年)' %>
                  <%= f.number_field :content, multiple: true,
                                            name: "document[content]worker][doc5_8_018_years_of_experience][]",
                                            value: '',
                                            class: "form-control", placeholder: '経験年数(年)'
                  %><br>
                </div>
                <div class="col-md-3">
                  <!-- 日付入力フォーム -->
                  <%= f.label '8-019 生年月日' %>
                  <%= f.date_field :content, multiple: true,
                                            name: "document[content]worker][doc5_8_019_birthday][]",
                                            value: '',
                                            class: "form-control", placeholder: '生年月日'
                  %><br>
                </div>
                <div class="col-md-3">
                  <%= f.label '8-020 年齢' %>
                  <%= f.number_field :content, multiple: true,
                                            name: "document[content]worker][doc5_8_020_age][]",
                                            value: '',
                                            class: "form-control", placeholder: '年齢'
                  %><br>
                </div>
              </div>
          
              <div class="row">
                <div class="col-md-3">
                  <%= f.label '8-021 現住所' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content]worker][doc5_8_021_address][]",
                                            value: '',
                                            class: "form-control", placeholder: '現住所'
                  %><br>
                </div>
                <div class="col-md-3">
                  <%= f.label '8-022 家族連絡先住所' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_022_family_contact_address][]",
                                            value: '',
                                            class: "form-control", placeholder: '家族連絡先住所'
                  %><br>
                </div>
                <div class="col-md-3">
                  <%= f.label '8-023 作業員電話番号' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content]worker][doc5_8_023_telephone_number][]",
                                            value: '',
                                            class: "form-control", placeholder: '作業員電話番号'
                  %><br>
                </div>
                <div class="col-md-3">
                  <%= f.label '8-024 家族連絡先電話番号' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_024_family_telephone_number][]",
                                            value: '',
                                            class: "form-control", placeholder: '家族連絡先電話番号'
                  %><br>
                </div>
              </div>
          
              <div class="row">
                <div class="col-md-2">
                  <!-- 日付入力フォーム -->
                  <%= f.label '8-025 最近の健康診断日' %>
                  <%= f.date_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_025_health_check_date][]",
                                            value: '',
                                            class: "form-control", placeholder: '最近の健康診断日'
                  %><br>
                </div>
                <div class="col-md-2">
                  <%= f.label '8-026 最高血圧' %>
                  <%= f.number_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_026_maximum_blood_pressure][]",
                                            value: '',
                                            class: "form-control", placeholder: '最高血圧'
                  %><br>
                </div>
                <div class="col-md-2">
                  <%= f.label '8-027 最低血圧' %>
                  <%= f.number_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_027_minimum_blood_pressure][]",
                                            value: '',
                                            class: "form-control", placeholder: '最低血圧'
                  %><br>
                </div>
                <div class="col-md-2">
                  <%= f.label '8-028 血液型' %> <!-- セレクトフォーム要修正 -->
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_028_blood_type][]",
                                            value: '',
                                            class: "form-control", placeholder: '血圧型'
                  %><br>
                </div>
                <div class="col-md-2">
                  <!-- 日付入力フォーム -->
                  <%= f.label '8-029 特殊健康診断日' %>
                  <%= f.date_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_029_special_health_examination_date][]",
                                            value: '',
                                            class: "form-control", placeholder: '特殊健康診断日'
                  %><br>
                </div>
                <div class="col-md-2">
                  <%= f.label '8-030 特別健康診断種類' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_030_special_health_check_type][]",
                                            value: '',
                                            class: "form-control", placeholder: '特別健康診断種類'
                  %><br>
                </div>
              </div>
          
              <div class="row">
                <div class="col-md-2">
                  <%= f.label '8-031 健康保険' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_031_health_insurance][]",
                                            value: '',
                                            class: "form-control", placeholder: '特別健康診断種類'
                  %><br>
                </div>
                <div class="col-md-2">
                  <%= f.label '8-032 年金保険' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_032_pension_insurance][]",
                                            value: '',
                                            class: "form-control", placeholder: '年金保険'
                  %><br>
                </div>
                <div class="col-md-2">
                  <%= f.label '8-033 雇用保険番号' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_033_employment_insurance_number][]",
                                            value: '',
                                            class: "form-control", placeholder: '雇用保険番号'
                  %><br>
                </div>
                <div class="col-md-3">
                  <%= f.label '8-034 建設業退職金共済制度' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_034_severance_pay][]",
                                            value: '',
                                            class: "form-control", placeholder: '建設業退職金共済制度'
                  %><br>
                </div>
                <div class="col-md-3">
                  <%= f.label '8-035 中小企業退職金共済制度' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_035_severance_pay_businesses][]",
                                            value: '',
                                            class: "form-control", placeholder: '中小企業退職金共済制度'
                  %><br>
                </div>
              </div>
          
              <div class="row">
                <div class="col-md-4">
                  <%= f.label '8-036 雇入・職長特別教育' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_036_special_education][]",
                                            value: '',
                                            class: "form-control", placeholder: '雇入・職長特別教育'
                  %><br>
                </div>
                <div class="col-md-4">
                  <%= f.label '8-037 技能講習' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_037_skill_training][]",
                                            value: '',
                                            class: "form-control", placeholder: '技能講習'
                  %><br>
                </div>
                <div class="col-md-4">
                  <%= f.label '8-038 免許' %>
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_038_licence][]",
                                            value: '',
                                            class: "form-control", placeholder: '免許'
                  %><br>
                </div>
              </div>
          
              <div class="row">
                <div class="col-md-4">
                  <!-- 日付入力フォーム -->
                  <%= f.label '8-039 入場年月日' %>
                  <%= f.date_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_039_beginning][]",
                                            value: '',
                                            class: "form-control", placeholder: '入場年月日'
                  %><br>
                </div>
                <div class="col-md-4">
                  <!-- 日付入力フォーム -->
                  <%= f.label '8-040 受入教育 実施年月日' %>
                  <%= f.date_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_040_new_education][]",
                                            value: '',
                                            class: "form-control", placeholder: '受入教育 実施年月日'
                  %><br>
                </div>
                <div class="col-md-4">
                  <%= f.label '8-041 退職金共済手帳所雇入・有の有無' %> <!-- セレクトフォーム要修正 -->
                  <%= f.text_field :content, multiple: true,
                                            name: "document[content][worker][doc5_8_041_notebook][]",
                                            value: '',
                                            class: "form-control", placeholder: '退職金共済手帳所雇入・有の有無'
                  %><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
