<%= render 'shared/error_massages', object: f.object %>

<div class="list-group">
  <div class="list-group-item">
    <div class="row">
      <div class="col-md-4">
        <!-- 日付入力フォーム -->
        <%= f.label '8-004 書類作成日(西暦)' %>
        <%= f.date_field :content, multiple: true,
                                  name: "document[content][doc5_8_004_created_date]",
                                  value: @document.content["doc5_8_004_created_date"],
                                  class: "form-control", placeholder: '書類作成日（西暦）'
        %><br>
      </div>
      <div class="col-md-4">
        <!-- 日付入力フォーム -->
        <%= f.label '8-011 提出日(西暦)' %>
        <%= f.date_field :content, multiple: true,
                                  name: "document[content][doc5_8_011_submitted_on]",
                                  value: @document.content["doc5_8_011_submitted_on"],
                                  class: "form-control", placeholder: '提出日（西暦）'
        %><br>
      </div>
      <div class="col-md-4">
        <%= f.label '8-042 元請確認欄' %>
        <%= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_042_confirmation]",
                                  value: @document.content["doc5_8_042_confirmation"],
                                  class: "form-control", placeholder: '元請確認欄'
        %><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.label '8-001 事業所の名称' %>
        <%= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_001_business_name]",
                                  value: @document.content["doc5_8_001_business_name"],
                                  class: "form-control", placeholder: '事業所の名称'
        %><br>
      </div>
      <div class="col-md-4">
        <%= f.label '8-002 現場ID(キャリアアップ)' %>
        <%= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_002_site_id]",
                                  value: @document.content["doc5_8_002_site_id"],
                                  class: "form-control", placeholder: '現場ID(キャリアアップ)'
        %><br>
      </div>
      <div class="col-md-4">
        <%= f.label '8-003 元請会社の各会社の現場代理人' %>
        <%= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_003_site_agent]",
                                  value: @document.content["doc5_8_003_site_agent"],
                                  class: "form-control", placeholder: '元請会社の各会社の現場代理人'
        %><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.label '8-005 一次会社名' %>
        <%= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_005_primary_business_name]",
                                  value: @document.content["doc5_8_005_primary_business_name"],
                                  class: "form-control", placeholder: '一次会社名'
        %><br>
      </div>
      <div class="col-md-4">
        <%= f.label '8-006 一次会社の事業者ID' %>
        <%= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_006_primary_business_id]",
                                  value: @document.content["doc5_8_006_primary_business_id"],
                                  class: "form-control", placeholder: '一次会社の事業者ID'
        %><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.label '8-007 次' %>
        <%= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_007_hierarchy]",
                                  value: @document.content["doc5_8_007_hierarchy"],
                                  class: "form-control", placeholder: '次 8-007'
        %><br>
      </div>
      <div class="col-md-4">
        <%= f.label '8-009 自社の会社名' %>
        <%= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_009_my_business_name]",
                                  value: @document.content["doc5_8_009_my_business_name"],
                                  class: "form-control", placeholder: '自社の会社名'
        %><br>
      </div>
      <div class="col-md-4">
        <%= f.label '8-010 自社の事業者ID' %>
        <%= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_010_my_business_id]",
                                  value: @document.content["doc5_8_010_my_business_id"],
                                  class: "form-control", placeholder: '自社の事業者ID'
        %><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.label '作業員選択' %>
        <%= f.select :content, @workers.map { |worker| [worker.name, worker.id] },
                                            { include_hidden: false, selected: @document.content["worker_id"] },
                                            { name: "document[content][worker][]", class: "js-select form-control", multiple: true }
        %>
      </div>
    </div><br>
  </div>
</div>
