<% provide(:title, "#{@document.document_type_i18n}") %>

<div class="card">
  <div class="card-body"></div>
  <div class="card-footer">
    <%= link_to '編集', edit_users_request_order_document_path, class: "btn btn-block btn-outline-dark" %>
    <%= link_to '書類一覧に戻る', users_request_order_documents_path, class: "btn btn-block btn-outline-secondary" %>
    <%= link_to "PDF出力", users_request_order_document_path(format: :pdf), target: :_blank, rel: "noopener noreferrer", class: "btn btn-md btn-block btn-default" %>
  </div>
</div>

<%# @document.content["worker"].size.each_with_index.each_slice(10) do |w1, w2, w3, w4, w5, w6, w7, w8, w9, w10, index| %>
<% @document.content["worker"].each_with_index.each_slice(10) do|w1, w2, w3, w4, w5, w6, w7, w8, w9, w10, index|  %>
  <div class="stl_02">
    <div class="stl_03"><img src="/doc_5th.png" alt="" class="stl_04"></div>
    <div class="stl_view">
      <div class="stl_05 stl_06">
        <div class="stl_01" style="top: 8.1746em; left:8.5em;"><span class="stl_07 stl_08">全建統一様式第５号改</span></div>
        <div class="stl_01" style="top: 8.4546em; left:79.27em;">
          <span class="stl_07" style="word-spacing:0.23em;">元請確認欄 </span>
          <span class="stl_10 stl_09" style="word-spacing:0.32em;"><%= @document.content["doc5_8_042_confirmation"] %></span>
        </div>
        <div class="stl_01" style="top: 10.5546em; left:82.66em;">
          <span class="stl_07" style="word-spacing:-0.02em;">提 出 日</span>
          <span class="stl_07" style="word-spacing:0.76em;">&nbsp;</span>
          <span class="stl_10 stl_09" style="word-spacing:0.83em;"><%= @document.content["doc5_8_011_submitted_on"] %></span>
        </div>
        <div class="stl_01" style="top: 9.9159em; left:35.57em;"><span class="stl_11" style="font-weight:bold;">作 業 員 名 簿</span></div>
        <div class="stl_01" style="top: 11.7746em; left:46.63em;"><span class="stl_07 stl_09" style="word-spacing:0.7em;">作成 ）</span></div>
        <div class="stl_01" style="top: 12.7377em; left:33.93em;"><span class="stl_12 stl_08">本書面に記載した内容は、作業員名簿として、安全衛生管</span></div>
        <div class="stl_01" style="top: 13.3377em; left:33.93em;"><span class="stl_12 stl_08">理や労働災害発生時の緊急連絡・対応のために元請負業者</span></div>
        <div class="stl_01" style="top: 13.9377em; left:33.93em;"><span class="stl_12 stl_08">に提示することについて、記載者本人は同意しています。</span></div>
        <div class="stl_01" style="top: 11.2377em; left:3.93em;"><span class="stl_12 stl_08">事業所の名称</span></div>
        <div class="stl_01" style="top: 12.4062em; left:3.94em;"><span class="stl_10 stl_08">現 場 I D</span></div>
        <div class="stl_01" style="top: 13.6062em; left:3.94em;"><span class="stl_10 stl_08">所 長 名</span></div>
        <div class="stl_01" style="top: 11.4862em; left:8.44em;"><span class="stl_10 stl_09"><%= @document.content["doc5_8_001_business_name"] %></span></div>
        <div class="stl_01" style="top: 12.6862em; left:8.44em;"><span class="stl_10 stl_09"><%= @document.content["doc5_8_002_site_id"] %></span></div>
        <div class="stl_01" style="top: 13.8862em; left:8.44em;"><span class="stl_10 stl_09"><%= @document.content["doc5_8_003_site_agent"] %></span></div>
        <div class="stl_01" style="top: 11.7746em; left:34.46em;"><span class="stl_07 stl_09">（</span></div>
        <div class="stl_01" style="top: 11.8062em; left:35.44em;"><span class="stl_10 stl_09"><%= @document.content["doc5_8_004_created_date"] %></span></div>
        <div class="stl_01" style="top: 12.4062em; left:54.94em;"><span class="stl_10 stl_08">一次会社名</span></div>
        <div class="stl_01" style="top: 13.6062em; left:54.94em;"><span class="stl_10 stl_08">事業者ID</span></div>
        <div class="stl_01" style="top: 12.3046em; left:76.46em;">
          <span class="stl_07 stl_09" style="word-spacing:-0.09em;">（ </span>
          <span class="stl_13 stl_09" style="word-spacing:-0.11em;"><%= @document.content["doc5_8_007_hierarchy"] %></span>
          <span class="stl_07 stl_08" style="word-spacing:-0.09em;">次）会社名</span>
        </div>
        <div class="stl_01" style="top: 13.4246em; left:77.44em;"><span class="stl_07 stl_09">事業者ID</span></div>
        <div class="stl_01" style="top: 12.6862em; left:60.9395em;"><span class="stl_10 stl_09"><%= @document.content["doc5_8_005_primary_business_name"] %></span></div>
        <div class="stl_01" style="top: 13.8862em; left:59.44em;"><span class="stl_10 stl_09"><%= @document.content["doc5_8_006_primary_business_id"] %></span></div>
        <div class="stl_01" style="top: 12.6862em; left:83.44em;"><span class="stl_10 stl_09"><%= @document.content["doc5_8_009_my_business_name"] %></span></div>
        <div class="stl_01" style="top: 13.6062em; left:81.94em;"><span class="stl_10 stl_09"><%= @document.content["doc5_8_010_my_business_id"] %></span></div>
        <div class="stl_01" style="top: 13.5746em; left:28.24em;"><span class="stl_07 stl_09">殿</span></div>
        <div class="stl_01" style="top: 13.7962em; left:72.94em;"><span class="stl_10 stl_08">㊞</span></div>
        <div class="stl_01" style="top: 13.7962em; left:93.94em;"><span class="stl_10 stl_08">㊞</span></div>
        <div class="stl_01" style="top: 14.5993em; left:54.92em;"><span class="stl_14 stl_08">［</span></div>
        <div class="stl_01" style="top: 14.5993em; left:55.46em;"><span class="stl_14 stl_08" style="word-spacing:0em;">退職金共済制度加入について 建退共・中退共・その他・無］</span></div>
        <div class="stl_01" style="top: 14.5993em; left:77.42em;"><span class="stl_14 stl_08" style="word-spacing:0em;">［退職金共済制度加入について 建退共・中退共・その他・無］</span></div>
        <div class="stl_01" style="top: 15.9746em; left:7.33em;"><span class="stl_07 stl_08">フ　リ　ガ　ナ</span></div>
        <div class="stl_01" style="top: 17.1746em; left:7.33em;"><span class="stl_07 stl_08">氏　　　　　名</span></div>
        <div class="stl_01" style="top: 18.3746em; left:7.33em;"><span class="stl_07 stl_09">技　能　者　ID</span></div>
        <div class="stl_01" style="top: 15.9746em; left:66.91em;"><span class="stl_07 stl_08">健康保険</span></div>
        <div class="stl_01" style="top: 17.1746em; left:66.91em;"><span class="stl_07 stl_08">年金保険</span></div>
        <div class="stl_01" style="top: 18.3746em; left:66.91em;"><span class="stl_07 stl_08">雇用保険</span></div>
        <div class="stl_01" style="top: 16.1009em; left:71.92em;"><span class="stl_15 stl_08">建設業退職金共済制度</span></div>
        <div class="stl_01" style="top: 17.3009em; left:71.68em;"><span class="stl_15 stl_08">中小企業退職金共済制度</span></div>
        <div class="stl_01" style="top: 16.2746em; left:21.55em;"><span class="stl_07 stl_08">雇入年月日</span></div>
        <div class="stl_01" style="top: 18.0746em; left:21.91em;"><span class="stl_07 stl_08">経験年数</span></div>
        <div class="stl_01" style="top: 16.2746em; left:27.91em;"><span class="stl_07 stl_08">生年月日</span></div>
        <div class="stl_01" style="top: 18.0746em; left:28.63em;"><span class="stl_07 stl_08">年齢</span></div>
        <div class="stl_01" style="top: 16.2746em; left:38.02em;"><span class="stl_07 stl_08">現住所</span></div>
        <div class="stl_01" style="top: 16.2746em; left:47.0483em;"><span class="stl_07 stl_08">（ＴＥＬ）</span></div>
        <div class="stl_01" style="top: 16.2746em; left:51.9728em;">
          <span class="stl_07 stl_09" style="word-spacing:0.14em;">最近の健康診断日 血</span>
          <span class="stl_07 stl_09" style="word-spacing:0.72em;">&nbsp;特殊健康診断日</span>
        </div>
        <div class="stl_01" style="top: 17.1746em; left:58.21em;"><span class="stl_07 stl_09">液</span></div>
        <div class="stl_01" style="top: 16.2746em; left:78.97em;"><span class="stl_07 stl_08">教育・資格・免許</span></div>
        <div class="stl_01" style="top: 16.2746em; left:87.5519em;"><span class="stl_07 stl_08">入場年月日</span></div>
        <div class="stl_01" style="top: 16.5677em; left:92.43em;"><span class="stl_12 stl_08">退職金共 &nbsp;</span></div>
        <div class="stl_01" style="top: 17.2377em; left:92.43em;"><span class="stl_12 stl_08">済手帳所 &nbsp;</span></div>
        <div class="stl_01" style="top: 17.9077em; left:92.43em;"><span class="stl_12 stl_08">有の有無 &nbsp;</span></div>
        <div class="stl_01" style="top: 16.7846em; left:4.21em;"><span class="stl_07 stl_09">番</span></div>
        <div class="stl_01" style="top: 17.5746em; left:4.21em;"><span class="stl_07 stl_09">号</span></div>
        <div class="stl_01" style="top: 17.1746em; left:14.95em;"><span class="stl_07" style="word-spacing:-0.03em;">職 種</span></div>
        <div class="stl_01" style="top: 17.1746em; left:18.4922em;"><span class="stl_07 stl_09">※</span></div>
        <div class="stl_01" style="top: 17.9309em; left:77.62em;"><span class="stl_15 stl_16">雇入・職長</span></div>
        <div class="stl_01" style="top: 18.4809em; left:77.86em;"><span class="stl_15 stl_16">特別教育</span></div>
        <div class="stl_01" style="top: 17.8077em; left:88.12em;"><span class="stl_12 stl_08">受入教育</span></div>
        <div class="stl_01" style="top: 18.4777em; left:87.97em;"><span class="stl_12 stl_08">実施年月日</span></div>
        <div class="stl_01" style="top: 18.0746em; left:37.3em;"><span class="stl_07 stl_08">家族連絡先</span></div>
        <div class="stl_01" style="top: 18.0746em; left:47.0482em;"><span class="stl_07 stl_08">（ＴＥＬ）</span></div>
        <div class="stl_01" style="top: 18.0746em; left:54.13em;"><span class="stl_07 stl_08">血圧</span></div>
        <div class="stl_01" style="top: 17.9646em; left:58.21em;"><span class="stl_07 stl_09">型</span></div>
        <div class="stl_01" style="top: 18.0746em; left:61.63em;"><span class="stl_07 stl_08">種類</span></div>
        <div class="stl_01" style="top: 18.1377em; left:80.65em;"><span class="stl_12 stl_08">技能講習</span></div>
        <div class="stl_01" style="top: 18.1062em; left:84.19em;"><span class="stl_10 stl_08">免許</span></div>

        <!-- 作業員1行目 -->
        <div class="stl_01" style="top: 20.8062em; left:4.4em;"><span class="stl_10 stl_09"><%= worker_number(w1) %></span></div>
        <div class="stl_01" style="top: 19.6062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name_kana", w1) %></span></div> <!-- 8-012 フリガナ -->
        <div class="stl_01" style="top: 20.9962em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name", w1) %></span></div> <!-- 8-013 作業員名 -->
        <div class="stl_01" style="top: 22.1962em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("carrier_up_id", w1) %></span></div> <!-- 8-014 技能者ID -->
        <div class="stl_01" style="top: 20.8062em; left:15.0187em;"><span class="stl_10 stl_09"><%= worker_column("job_type", w1) %></span></div> <!-- 8-015 職種 -->
        <div class="stl_01" style="top: 20.8062em; left:18.0215em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_016_symbol", w1) %></span></div>
        <div class="stl_01" style="top: 19.9062em; left:22em;"><span class="stl_10 stl_09"><%= worker_column("hiring_on", w1) %></span></div> <!-- 8-017 雇入年月日 -->
        <div class="stl_01" style="top: 21.7062em; left:23em;"><span class="stl_10 stl_09"><%= worker_column("experience_term_before_hiring", w1) %></span></div> <!-- 8-08 雇入前経験年数 -->
        <div class="stl_01" style="top: 19.9062em; left:28em;"><span class="stl_10 stl_09"><%= worker_column("birth_day_on", w1) %></span></div> <!-- 8-019 生年月日 -->
        <div class="stl_01" style="top: 21.7062em; left:28.519em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_020_age", w1) %></span></div> <!-- 8-020 年齢 -->
        <div class="stl_01" style="top: 19.9062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("my_address", w1) %></span></div> <!-- 8-021 住所 -->
        <div class="stl_01" style="top: 21.7062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("family_address", w1) %></span></div> <!-- 8-022 家族連絡先住所 -->
        <div class="stl_01" style="top: 19.9062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("my_phone_number", w1) %></span></div> <!-- 8-023 作業員電話番号 -->
        <div class="stl_01" style="top: 21.7062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("family_phone_number", w1) %></span></div> <!-- 8-024 家族連絡先電話番号 -->
        <div class="stl_01" style="top: 19.9062em; left:53em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "med_exam_on", w1) %></span></div> <!-- 8-025 健康診断日 -->
        <div class="stl_01" style="top: 21.7062em; left:53.2em;">
          <span class="stl_10 stl_09">
            <%= worker_attribute_column("worker_medical", "max_blood_pressure", w1) %>～<%= worker_attribute_column("worker_medical", "min_blood_pressure", w1) %> <!-- 8-026 最高血圧 ～ 8-027 最低血圧 -->
          </span>
        </div>
        <div class="stl_01" style="top: 20.8062em; left:58em;"><span class="stl_10 stl_08"><%= Worker.abo_blood_types_i18n[worker_column("abo_blood_type", w1)] %></span></div> <!-- 8-028 血液型 -->
        <div class="stl_01" style="top: 19.9062em; left:61em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "special_med_exam_on", w1) %></span></div> <!-- 8-029 特殊健康診断日 -->
        <div class="stl_01" style="top: 21.7062em; left:61.52em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_030_special_health_check_type", w1) %></span></div>
        <div class="stl_01" style="top: 19.6062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.health_insurance_types_i18n[worker_attribute_column("worker_insurance", "health_insurance_type", w1)] %></span></div> <!-- 8-031 健康保険のタイプ -->
        <div class="stl_01" style="top: 20.8062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.pension_insurance_types_i18n[worker_attribute_column("worker_insurance", "pension_insurance_type", w1)] %></span></div> <!-- 8-032 年金保険のタイプ -->
        <div class="stl_01" style="top: 22.0062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.employment_insurance_types_i18n[worker_attribute_column("worker_insurance", "employment_insurance_type", w1)] %></span></div> <!-- 8-033 雇用保険のタイプ -->
        <div class="stl_01" style="top: 19.6062em; left:72.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.severance_pay_mutual_aid_types_i18n[worker_attribute_column("worker_insurance", "severance_pay_mutual_aid_type", w1)] %></span></div> <!-- 8-034 建設業退職金共済制度のタイプ -->
        <div class="stl_01" style="top: 20.8062em; left:72.5em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_035_severance_pay_businesses", w1) %></span></div>
        <div class="stl_01" style="top: 20.8062em; left:78.02em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_special_educations", "special_education_id", w1) %></span></div> <!-- 8-036 特別教育 -->
        <div class="stl_01" style="top: 20.8062em; left:81.0228em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_skill_trainings", "skill_training_id", w1) %></span></div> <!-- 8-037 技能講習 -->
        <div class="stl_01" style="top: 20.8062em; left:84.019em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_licenses", "license_id", w1) %></span></div> <!-- 8-036 免許 -->
        <div class="stl_01" style="top: 19.9062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_039_beginning", w1) %></span></div>
        <div class="stl_01" style="top: 21.7062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_040_new_education", w1) %></span></div>
        <div class="stl_01" style="top: 19.9062em; left:92.69em;"><span class="stl_10 stl_08">建・中</span></div>
        <div class="stl_01" style="top: 21.7062em; left:92.69em;"><span class="stl_10 stl_08">他・無</span></div>

        <!-- 作業員2行目 -->
        <div class="stl_01" style="top: 24.4062em; left:4.4em;"><span class="stl_10 stl_09"><%= worker_number(w2) %></span></div>
        <div class="stl_01" style="top: 23.2062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name_kana", w2) %></span></div>
        <div class="stl_01" style="top: 24.4062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name", w2) %></span></div>
        <div class="stl_01" style="top: 25.6062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("carrier_up_id", w2) %></span></div>
        <div class="stl_01" style="top: 24.4062em; left:14.99em;"><span class="stl_10 stl_09"><%= worker_column("job_type", w2) %></span></div>
        <div class="stl_01" style="top: 24.4062em; left:17.99em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_016_symbol", w2) %></span></div>
        <div class="stl_01" style="top: 23.5062em; left:22em;"><span class="stl_10 stl_09"><%= worker_column("hiring_on", w2) %></span></div>
        <div class="stl_01" style="top: 25.3062em; left:23em;"><span class="stl_10 stl_09"><%= worker_column("experience_term_before_hiring", w2) %></span></div>
        <div class="stl_01" style="top: 23.5062em; left:28em;"><span class="stl_10 stl_09"><%= worker_column("birth_day_on", w2) %></span></div>
        <div class="stl_01" style="top: 25.3062em; left:28.489em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_020_age", w2) %></span></div>
        <div class="stl_01" style="top: 23.5062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("my_address", w2) %></span></div>
        <div class="stl_01" style="top: 25.3062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("family_address", w2) %></span></div>
        <div class="stl_01" style="top: 23.5062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("my_phone_number", w2) %></span></div>
        <div class="stl_01" style="top: 25.3062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("family_phone_number", w2) %></span></div>
        <div class="stl_01" style="top: 23.5062em; left:53em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "med_exam_on", w2) %></span></div>
        <div class="stl_01" style="top: 25.3062em; left:53.17em;">
          <span class="stl_10 stl_09">
            <%= worker_attribute_column("worker_medical", "max_blood_pressure", w2) %>～<%= worker_attribute_column("worker_medical", "min_blood_pressure", w2) %>
          </span>
        </div>
        <div class="stl_01" style="top: 24.4062em; left:58em;"><span class="stl_10 stl_08"><%= Worker.abo_blood_types_i18n[worker_column("abo_blood_type", w2)] %></span></div>
        <div class="stl_01" style="top: 23.5062em; left:61em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "special_med_exam_on", w2) %></span></div>
        <div class="stl_01" style="top: 25.3062em; left:61.49em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_030_special_health_check_type", w2) %></span></div>
        <div class="stl_01" style="top: 23.2062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.health_insurance_types_i18n[worker_attribute_column("worker_insurance", "health_insurance_type", w2)] %></span></div>
        <div class="stl_01" style="top: 24.4062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.pension_insurance_types_i18n[worker_attribute_column("worker_insurance", "pension_insurance_type", w2)] %></span></div>
        <div class="stl_01" style="top: 25.6062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.employment_insurance_types_i18n[worker_attribute_column("worker_insurance", "employment_insurance_type", w2)] %></span></div>
        <div class="stl_01" style="top: 23.2062em; left:72.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.severance_pay_mutual_aid_types_i18n[worker_attribute_column("worker_insurance", "severance_pay_mutual_aid_type", w2)] %></span></div>
        <div class="stl_01" style="top: 24.4062em; left:72.5em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_035_severance_pay_businesses", w2) %></span></div>
        <div class="stl_01" style="top: 24.4062em; left:77.99em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_special_educations", "special_education_id", w2) %></span></div>
        <div class="stl_01" style="top: 24.4062em; left:80.9928em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_skill_trainings", "skill_training_id", w2) %></span></div>
        <div class="stl_01" style="top: 24.4062em; left:83.989em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_licenses", "license_id", w2) %></span></div>
        <div class="stl_01" style="top: 23.5062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_039_beginning", w2) %></span></div>
        <div class="stl_01" style="top: 25.3062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_040_new_education", w2) %></span></div>
        <div class="stl_01" style="top: 23.5062em; left:92.66em;"><span class="stl_10 stl_08">建・中</span></div>
        <div class="stl_01" style="top: 25.3062em; left:92.66em;"><span class="stl_10 stl_08">他・無</span></div>

        <!-- 作業員3行目 -->
        <div class="stl_01" style="top: 28.0062em; left:4.4em;"><span class="stl_10 stl_09"><%= worker_number(w3) %></span></div>
        <div class="stl_01" style="top: 26.8062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name_kana", w3) %></span></div>
        <div class="stl_01" style="top: 28.0062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name", w3) %></span></div>
        <div class="stl_01" style="top: 29.2062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("carrier_up_id", w3) %></span></div>
        <div class="stl_01" style="top: 28.0062em; left:14.99em;"><span class="stl_10 stl_09"><%= worker_column("job_type", w3) %></span></div>
        <div class="stl_01" style="top: 28.0062em; left:17.9928em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_016_symbol", w3) %></span></div>
        <div class="stl_01" style="top: 27.1062em; left:22em;"><span class="stl_10 stl_09"><%= worker_column("hiring_on", w3) %></span></div>
        <div class="stl_01" style="top: 28.9062em; left:23em;"><span class="stl_10 stl_09"><%= worker_column("experience_term_before_hiring", w3) %></span></div>
        <div class="stl_01" style="top: 27.1062em; left:28em;"><span class="stl_10 stl_09"><%= worker_column("birth_day_on", w3) %></span></div>
        <div class="stl_01" style="top: 28.9062em; left:28.49em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_020_age", w3) %></span></div>
        <div class="stl_01" style="top: 27.1062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("my_address", w3) %></span></div>
        <div class="stl_01" style="top: 28.9062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("family_address", w3) %></span></div>
        <div class="stl_01" style="top: 27.1062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("my_phone_number", w3) %></span></div>
        <div class="stl_01" style="top: 28.9062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("family_phone_number", w3) %></span></div>
        <div class="stl_01" style="top: 27.1062em; left:53em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "med_exam_on", w3) %></span></div>
        <div class="stl_01" style="top: 28.9062em; left:53.17em;">
          <span class="stl_10 stl_09">
            <%= worker_attribute_column("worker_medical", "max_blood_pressure", w3) %>～<%= worker_attribute_column("worker_medical", "min_blood_pressure", w3) %>
          </span>
        </div>
        <div class="stl_01" style="top: 28.0062em; left:58em;"><span class="stl_10 stl_08"><%= Worker.abo_blood_types_i18n[worker_column("abo_blood_type", w3)] %></span></div>
        <div class="stl_01" style="top: 27.1062em; left:61em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "special_med_exam_on", w3) %></span></div>
        <div class="stl_01" style="top: 28.9062em; left:61.49em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_030_special_health_check_type", w3) %></span></div>
        <div class="stl_01" style="top: 26.8062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.health_insurance_types_i18n[worker_attribute_column("worker_insurance", "health_insurance_type", w3)] %></span></div>
        <div class="stl_01" style="top: 28.0062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.pension_insurance_types_i18n[worker_attribute_column("worker_insurance", "pension_insurance_type", w3)] %></span></div>
        <div class="stl_01" style="top: 29.2062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.employment_insurance_types_i18n[worker_attribute_column("worker_insurance", "employment_insurance_type", w3)] %></span></div>
        <div class="stl_01" style="top: 26.8062em; left:72.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.severance_pay_mutual_aid_types_i18n[worker_attribute_column("worker_insurance", "severance_pay_mutual_aid_type", w3)] %></span></div>
        <div class="stl_01" style="top: 28.0062em; left:72.5em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_035_severance_pay_businesses", w3) %></span></div>
        <div class="stl_01" style="top: 28.0062em; left:77.99em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_special_educations", "special_education_id", w3) %></span></div>
        <div class="stl_01" style="top: 28.0062em; left:80.9928em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_skill_trainings", "skill_training_id", w3) %></span></div>
        <div class="stl_01" style="top: 28.0062em; left:83.989em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_licenses", "license_id", w3) %></span></div>
        <div class="stl_01" style="top: 27.1062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_039_beginning", w3) %></span></div>
        <div class="stl_01" style="top: 28.9062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_040_new_education", w3) %></span></div>
        <div class="stl_01" style="top: 27.1062em; left:92.66em;"><span class="stl_10 stl_08">建・中</span></div>
        <div class="stl_01" style="top: 28.9062em; left:92.66em;"><span class="stl_10 stl_08">他・無</span></div>

        <!-- 作業員4行目 -->
        <div class="stl_01" style="top: 31.6062em; left:4.4em;"><span class="stl_10 stl_09"><%= worker_number(w4) %></span></div>
        <div class="stl_01" style="top: 30.4062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name_kana", w4) %></span></div>
        <div class="stl_01" style="top: 31.6062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name", w4) %></span></div>
        <div class="stl_01" style="top: 32.8062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("carrier_up_id", w4) %></span></div>
        <div class="stl_01" style="top: 31.6062em; left:14.99em;"><span class="stl_10 stl_09"><%= worker_column("job_type", w4) %></span></div>
        <div class="stl_01" style="top: 31.6062em; left:17.9928em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_016_symbol", w4) %></span></div>
        <div class="stl_01" style="top: 30.7062em; left:22em;"><span class="stl_10 stl_09"><%= worker_column("hiring_on", w4) %></span></div>
        <div class="stl_01" style="top: 32.5062em; left:23em;"><span class="stl_10 stl_09"><%= worker_column("experience_term_before_hiring", w4) %></span></div>
        <div class="stl_01" style="top: 30.7062em; left:28em;"><span class="stl_10 stl_09"><%= worker_column("birth_day_on", w4) %></span></div>
        <div class="stl_01" style="top: 32.5062em; left:28.489em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_020_age", w4) %></span></div>
        <div class="stl_01" style="top: 30.7062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("my_address", w4) %></span></div>
        <div class="stl_01" style="top: 32.5062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("family_address", w4) %></span></div>
        <div class="stl_01" style="top: 30.7062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("my_phone_number", w4) %></span></div>
        <div class="stl_01" style="top: 32.5062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("family_phone_number", w4) %></span></div>
        <div class="stl_01" style="top: 30.7062em; left:53em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "med_exam_on", w4) %></span></div>
        <div class="stl_01" style="top: 32.5062em; left:53.17em;">
          <span class="stl_10 stl_09">
            <%= worker_attribute_column("worker_medical", "max_blood_pressure", w4) %>～<%= worker_attribute_column("worker_medical", "min_blood_pressure", w4) %>
          </span>
        </div>
        <div class="stl_01" style="top: 31.6062em; left:58em;"><span class="stl_10 stl_08"><%= Worker.abo_blood_types_i18n[worker_column("abo_blood_type", w4)] %></span></div>
        <div class="stl_01" style="top: 30.7062em; left:61em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "special_med_exam_on", w4) %></span></div>
        <div class="stl_01" style="top: 32.5062em; left:61.49em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_030_special_health_check_type", w4) %></span></div>
        <div class="stl_01" style="top: 30.4062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.health_insurance_types_i18n[worker_attribute_column("worker_insurance", "health_insurance_type", w4)] %></span></div>
        <div class="stl_01" style="top: 31.6062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.pension_insurance_types_i18n[worker_attribute_column("worker_insurance", "pension_insurance_type", w4)] %></span></div>
        <div class="stl_01" style="top: 32.8062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.employment_insurance_types_i18n[worker_attribute_column("worker_insurance", "employment_insurance_type", w4)] %></span></div>
        <div class="stl_01" style="top: 30.4062em; left:72.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.severance_pay_mutual_aid_types_i18n[worker_attribute_column("worker_insurance", "severance_pay_mutual_aid_type", w4)] %></span></div>
        <div class="stl_01" style="top: 31.6062em; left:72.5em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_035_severance_pay_businesses", w4) %></span></div>
        <div class="stl_01" style="top: 31.6062em; left:77.99em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_special_educations", "special_education_id", w4) %></span></div>
        <div class="stl_01" style="top: 31.6062em; left:80.9928em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_skill_trainings", "skill_training_id", w4) %></span></div>
        <div class="stl_01" style="top: 31.6062em; left:83.989em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_licenses", "license_id", w4) %></span></div>
        <div class="stl_01" style="top: 30.7062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_039_beginning", w4) %></span></div>
        <div class="stl_01" style="top: 32.5062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_040_new_education", w4) %></span></div>
        <div class="stl_01" style="top: 30.7062em; left:92.66em;"><span class="stl_10 stl_08">建・中</span></div>
        <div class="stl_01" style="top: 32.5062em; left:92.66em;"><span class="stl_10 stl_08">他・無</span></div>

        <!-- 作業員5行目 -->
        <div class="stl_01" style="top: 35.2062em; left:4.4em;"><span class="stl_10 stl_09"><%= worker_number(w5) %></span></div>
        <div class="stl_01" style="top: 34.0062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name_kana", w5) %></span></div>
        <div class="stl_01" style="top: 35.2062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name", w5) %></span></div>
        <div class="stl_01" style="top: 36.4062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("carrier_up_id", w5) %></span></div>
        <div class="stl_01" style="top: 35.2062em; left:14.99em;"><span class="stl_10 stl_09"><%= worker_column("job_type", w5) %></span></div>
        <div class="stl_01" style="top: 35.2062em; left:17.9928em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_016_symbol", w5) %></span></div>
        <div class="stl_01" style="top: 34.3062em; left:22em;"><span class="stl_10 stl_09"><%= worker_column("hiring_on", w5) %></span></div>
        <div class="stl_01" style="top: 36.1062em; left:23em;"><span class="stl_10 stl_09"><%= worker_column("experience_term_before_hiring", w5) %></span></div>
        <div class="stl_01" style="top: 34.3062em; left:28em;"><span class="stl_10 stl_09"><%= worker_column("birth_day_on", w5) %></span></div>
        <div class="stl_01" style="top: 36.1062em; left:28.49em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_020_age", w5) %></span></div>
        <div class="stl_01" style="top: 34.3062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("my_address", w5) %></span></div>
        <div class="stl_01" style="top: 36.1062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("family_address", w5) %></span></div>
        <div class="stl_01" style="top: 34.3062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("my_phone_number", w5) %></span></div>
        <div class="stl_01" style="top: 36.1062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("family_phone_number", w5) %></span></div>
        <div class="stl_01" style="top: 34.3062em; left:53em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "med_exam_on", w5) %></span></div>
        <div class="stl_01" style="top: 36.1062em; left:53.17em;">
          <span class="stl_10 stl_09">
            <%= worker_attribute_column("worker_medical", "max_blood_pressure", w5) %>～<%= worker_attribute_column("worker_medical", "min_blood_pressure", w5) %>
          </span>
        </div>
        <div class="stl_01" style="top: 35.2062em; left:58em;"><span class="stl_10 stl_08"><%= Worker.abo_blood_types_i18n[worker_column("abo_blood_type", w5)] %></span></div>
        <div class="stl_01" style="top: 34.3062em; left:61em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "special_med_exam_on", w5) %></span></div>
        <div class="stl_01" style="top: 36.1062em; left:61.49em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_030_special_health_check_type", w5) %></span></div>
        <div class="stl_01" style="top: 34.0062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.health_insurance_types_i18n[worker_attribute_column("worker_insurance", "health_insurance_type", w5)] %></span></div>
        <div class="stl_01" style="top: 35.2062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.pension_insurance_types_i18n[worker_attribute_column("worker_insurance", "pension_insurance_type", w5)] %></span></div>
        <div class="stl_01" style="top: 36.4062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.employment_insurance_types_i18n[worker_attribute_column("worker_insurance", "employment_insurance_type", w5)] %></span></div>
        <div class="stl_01" style="top: 34.0062em; left:72.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.severance_pay_mutual_aid_types_i18n[worker_attribute_column("worker_insurance", "severance_pay_mutual_aid_type", w5)] %></span></div>
        <div class="stl_01" style="top: 35.2062em; left:72.5em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_035_severance_pay_businesses", w5) %></span></div>
        <div class="stl_01" style="top: 35.2062em; left:77.99em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_special_educations", "special_education_id", w5) %></span></div>
        <div class="stl_01" style="top: 35.2062em; left:80.9928em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_skill_trainings", "skill_training_id", w5) %></span></div>
        <div class="stl_01" style="top: 35.2062em; left:83.989em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_licenses", "license_id", w5) %></span></div>
        <div class="stl_01" style="top: 34.3062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_039_beginning", w5) %></span></div>
        <div class="stl_01" style="top: 36.1062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_040_new_education", w5) %></span></div>
        <div class="stl_01" style="top: 34.3062em; left:92.66em;"><span class="stl_10 stl_08">建・中</span></div>
        <div class="stl_01" style="top: 36.1062em; left:92.66em;"><span class="stl_10 stl_08">他・無</span></div>

        <!-- 作業員6行目 -->
        <div class="stl_01" style="top: 38.8062em; left:4.4em;"><span class="stl_10 stl_09"><%= worker_number(w6) %></span></div>
        <div class="stl_01" style="top: 37.6062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name_kana", w6) %></span></div>
        <div class="stl_01" style="top: 38.8062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name", w6) %></span></div>
        <div class="stl_01" style="top: 40.0062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("carrier_up_id", w6) %></span></div>
        <div class="stl_01" style="top: 38.8062em; left:14.99em;"><span class="stl_10 stl_09"><%= worker_column("job_type", w6) %></span></div>
        <div class="stl_01" style="top: 38.8062em; left:17.9928em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_016_symbol", w6) %></span></div>
        <div class="stl_01" style="top: 37.9062em; left:22em;"><span class="stl_10 stl_09"><%= worker_column("hiring_on", w6) %></span></div>
        <div class="stl_01" style="top: 39.7062em; left:23em;"><span class="stl_10 stl_09"><%= worker_column("experience_term_before_hiring", w6) %></span></div>
        <div class="stl_01" style="top: 37.9062em; left:28em;"><span class="stl_10 stl_09"><%= worker_column("birth_day_on", w6) %></span></div>
        <div class="stl_01" style="top: 39.7062em; left:28.49em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_020_age", w6) %></span></div>
        <div class="stl_01" style="top: 37.9062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("my_address", w6) %></span></div>
        <div class="stl_01" style="top: 39.7062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("family_address", w6) %></span></div>
        <div class="stl_01" style="top: 37.9062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("my_phone_number", w6) %></span></div>
        <div class="stl_01" style="top: 39.7062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("family_phone_number", w6) %></span></div>
        <div class="stl_01" style="top: 37.9062em; left:53em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "med_exam_on", w6) %></span></div>
        <div class="stl_01" style="top: 39.7062em; left:53.17em;">
          <span class="stl_10 stl_09">
            <%= worker_attribute_column("worker_medical", "max_blood_pressure", w6) %>～<%= worker_attribute_column("worker_medical", "min_blood_pressure", w6) %>
          </span>
        </div>
        <div class="stl_01" style="top: 38.8062em; left:58em;"><span class="stl_10 stl_08"><%= Worker.abo_blood_types_i18n[worker_column("abo_blood_type", w6)] %></span></div>
        <div class="stl_01" style="top: 37.9062em; left:61em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "special_med_exam_on", w6) %></span></div>
        <div class="stl_01" style="top: 39.7062em; left:61.49em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_030_special_health_check_type", w6) %></span></div>
        <div class="stl_01" style="top: 37.6062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.health_insurance_types_i18n[worker_attribute_column("worker_insurance", "health_insurance_type", w6)] %></span></div>
        <div class="stl_01" style="top: 38.8062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.pension_insurance_types_i18n[worker_attribute_column("worker_insurance", "pension_insurance_type", w6)] %></span></div>
        <div class="stl_01" style="top: 40.0062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.employment_insurance_types_i18n[worker_attribute_column("worker_insurance", "employment_insurance_type", w6)] %></span></div>
        <div class="stl_01" style="top: 37.6062em; left:72.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.severance_pay_mutual_aid_types_i18n[worker_attribute_column("worker_insurance", "severance_pay_mutual_aid_type", w6)] %></span></div>
        <div class="stl_01" style="top: 38.8062em; left:72.5em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_035_severance_pay_businesses", w6) %></span></div>
        <div class="stl_01" style="top: 38.8062em; left:77.99em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_special_educations", "special_education_id", w6) %></span></div>
        <div class="stl_01" style="top: 38.8062em; left:80.9928em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_skill_trainings", "skill_training_id", w6) %></span></div>
        <div class="stl_01" style="top: 38.8062em; left:83.989em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_licenses", "license_id", w6) %></span></div>
        <div class="stl_01" style="top: 37.9062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_039_beginning", w6) %></span></div>
        <div class="stl_01" style="top: 39.7062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_040_new_education", w6) %></span></div>
        <div class="stl_01" style="top: 37.9062em; left:92.66em;"><span class="stl_10 stl_08">建・中</span></div>
        <div class="stl_01" style="top: 39.7062em; left:92.66em;"><span class="stl_10 stl_08">他・無</span></div>

        <!-- 作業員7行目 -->
        <div class="stl_01" style="top: 42.4062em; left:4.4em;"><span class="stl_10 stl_09"><%= worker_number(w7) %></span></div>
        <div class="stl_01" style="top: 41.2062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name_kana", w7) %></span></div>
        <div class="stl_01" style="top: 42.4062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name", w7) %></span></div>
        <div class="stl_01" style="top: 43.6062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("carrier_up_id", w7) %></span></div>
        <div class="stl_01" style="top: 42.4062em; left:14.99em;"><span class="stl_10 stl_09"><%= worker_column("job_type", w7) %></span></div>
        <div class="stl_01" style="top: 42.4062em; left:17.9928em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_016_symbol", w7) %></span></div>
        <div class="stl_01" style="top: 41.5062em; left:22em;"><span class="stl_10 stl_09"><%= worker_column("hiring_on", w7) %></span></div>
        <div class="stl_01" style="top: 43.3062em; left:23em;"><span class="stl_10 stl_09"><%= worker_column("experience_term_before_hiring", w7) %></span></div>
        <div class="stl_01" style="top: 41.5062em; left:28em;"><span class="stl_10 stl_09"><%= worker_column("birth_day_on", w7) %></span></div>
        <div class="stl_01" style="top: 43.3062em; left:28.489em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_020_age", w7) %></span></div>
        <div class="stl_01" style="top: 41.5062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("my_address", w7) %></span></div>
        <div class="stl_01" style="top: 43.3062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("family_address", w7) %></span></div>
        <div class="stl_01" style="top: 41.5062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("my_phone_number", w7) %></span></div>
        <div class="stl_01" style="top: 43.3062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("family_phone_number", w7) %></span></div>
        <div class="stl_01" style="top: 41.5062em; left:53em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "med_exam_on", w7) %></span></div>
        <div class="stl_01" style="top: 43.3062em; left:53.17em;">
          <span class="stl_10 stl_09">
            <%= worker_attribute_column("worker_medical", "max_blood_pressure", w7) %>～<%= worker_attribute_column("worker_medical", "min_blood_pressure", w7) %>
          </span>
        </div>
        <div class="stl_01" style="top: 42.4062em; left:58em;"><span class="stl_10 stl_08"><%= Worker.abo_blood_types_i18n[worker_column("abo_blood_type", w7)] %></span></div>
        <div class="stl_01" style="top: 41.5062em; left:61em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "special_med_exam_on", w7) %></span></div>
        <div class="stl_01" style="top: 43.3062em; left:61.49em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_030_special_health_check_type", w7) %></span></div>
        <div class="stl_01" style="top: 41.2062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.health_insurance_types_i18n[worker_attribute_column("worker_insurance", "health_insurance_type", w7)] %></span></div>
        <div class="stl_01" style="top: 42.4062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.pension_insurance_types_i18n[worker_attribute_column("worker_insurance", "pension_insurance_type", w7)] %></span></div>
        <div class="stl_01" style="top: 43.6062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.employment_insurance_types_i18n[worker_attribute_column("worker_insurance", "employment_insurance_type", w7)] %></span></div>
        <div class="stl_01" style="top: 41.2062em; left:72.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.severance_pay_mutual_aid_types_i18n[worker_attribute_column("worker_insurance", "severance_pay_mutual_aid_type", w7)] %></span></div>
        <div class="stl_01" style="top: 42.4062em; left:72.5em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_035_severance_pay_businesses", w7) %></span></div>
        <div class="stl_01" style="top: 42.4062em; left:77.99em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_special_educations", "special_education_id", w7) %></span></div>
        <div class="stl_01" style="top: 42.4062em; left:80.9928em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_skill_trainings", "skill_training_id", w7) %></span></div>
        <div class="stl_01" style="top: 42.4062em; left:83.989em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_licenses", "license_id", w7) %></span></div>
        <div class="stl_01" style="top: 41.5062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_039_beginning", w7) %></span></div>
        <div class="stl_01" style="top: 43.3062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_040_new_education", w7) %></span></div>
        <div class="stl_01" style="top: 41.5062em; left:92.66em;"><span class="stl_10 stl_08">建・中</span></div>
        <div class="stl_01" style="top: 43.3062em; left:92.66em;"><span class="stl_10 stl_08">他・無</span></div>

        <!-- 作業員8行目 -->
        <div class="stl_01" style="top: 46.0062em; left:4.4em;"><span class="stl_10 stl_09"><%= worker_number(w8) %></span></div>
        <div class="stl_01" style="top: 44.8062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name_kana", w8) %></span></div>
        <div class="stl_01" style="top: 46.0062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name", w8) %></span></div>
        <div class="stl_01" style="top: 47.2062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("carrier_up_id", w8) %></span></div>
        <div class="stl_01" style="top: 46.0062em; left:14.99em;"><span class="stl_10 stl_09"><%= worker_column("job_type", w8) %></span></div>
        <div class="stl_01" style="top: 46.0062em; left:17.99em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_016_symbol", w8) %></span></div>
        <div class="stl_01" style="top: 45.1062em; left:22em;"><span class="stl_10 stl_09"><%= worker_column("hiring_on", w8) %></span></div>
        <div class="stl_01" style="top: 46.9062em; left:23em;"><span class="stl_10 stl_09"><%= worker_column("experience_term_before_hiring", w8) %></span></div>
        <div class="stl_01" style="top: 45.1062em; left:28em;"><span class="stl_10 stl_09"><%= worker_column("birth_day_on", w8) %></span></div>
        <div class="stl_01" style="top: 46.9062em; left:28.49em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_020_age", w8) %></span></div>
        <div class="stl_01" style="top: 45.1062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("my_address", w8) %></span></div>
        <div class="stl_01" style="top: 46.9062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("family_address", w8) %></span></div>
        <div class="stl_01" style="top: 45.1062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("my_phone_number", w8) %></span></div>
        <div class="stl_01" style="top: 46.9062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("family_phone_number", w8) %></span></div>
        <div class="stl_01" style="top: 45.1062em; left:53em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "med_exam_on", w8) %></span></div>
        <div class="stl_01" style="top: 46.9062em; left:53.17em;">
          <span class="stl_10 stl_09">
            <%= worker_attribute_column("worker_medical", "max_blood_pressure", w8) %>～<%= worker_attribute_column("worker_medical", "min_blood_pressure", w8) %>
          </span>
        </div>
        <div class="stl_01" style="top: 46.0062em; left:58em;"><span class="stl_10 stl_08"><%= Worker.abo_blood_types_i18n[worker_column("abo_blood_type", w8)] %></span></div>
        <div class="stl_01" style="top: 45.1062em; left:61em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "special_med_exam_on", w8) %></span></div>
        <div class="stl_01" style="top: 46.9062em; left:61.49em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_030_special_health_check_type", w8) %></span></div>
        <div class="stl_01" style="top: 44.8062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.health_insurance_types_i18n[worker_attribute_column("worker_insurance", "health_insurance_type", w8)] %></span></div>
        <div class="stl_01" style="top: 46.0062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.pension_insurance_types_i18n[worker_attribute_column("worker_insurance", "pension_insurance_type", w8)] %></span></div>
        <div class="stl_01" style="top: 47.2062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.employment_insurance_types_i18n[worker_attribute_column("worker_insurance", "employment_insurance_type", w8)] %></span></div>
        <div class="stl_01" style="top: 44.8062em; left:72.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.severance_pay_mutual_aid_types_i18n[worker_attribute_column("worker_insurance", "severance_pay_mutual_aid_type", w8)] %></span></div>
        <div class="stl_01" style="top: 46.0062em; left:72.5em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_035_severance_pay_businesses", w8) %></span></div>
        <div class="stl_01" style="top: 46.0062em; left:77.99em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_special_educations", "special_education_id", w8) %></span></div>
        <div class="stl_01" style="top: 46.0062em; left:80.9928em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_skill_trainings", "skill_training_id", w8) %></span></div>
        <div class="stl_01" style="top: 46.0062em; left:83.989em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_licenses", "license_id", w8) %></span></div>
        <div class="stl_01" style="top: 45.1062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_039_beginning", w8) %></span></div>
        <div class="stl_01" style="top: 46.9062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_040_new_education", w8) %></span></div>
        <div class="stl_01" style="top: 45.1062em; left:92.66em;"><span class="stl_10 stl_08">建・中</span></div>
        <div class="stl_01" style="top: 46.9062em; left:92.66em;"><span class="stl_10 stl_08">他・無</span></div>

        <!-- 作業員9行目 -->
        <div class="stl_01" style="top: 49.6062em; left:4.4em;"><span class="stl_10 stl_09"><%= worker_number(w9) %></span></div>
        <div class="stl_01" style="top: 48.4062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name_kana", w9) %></span></div>
        <div class="stl_01" style="top: 49.6062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name", w9) %></span></div>
        <div class="stl_01" style="top: 50.8062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("carrier_up_id", w9) %></span></div>
        <div class="stl_01" style="top: 49.6062em; left:14.99em;"><span class="stl_10 stl_09"><%= worker_column("job_type", w9) %></span></div>
        <div class="stl_01" style="top: 49.6062em; left:17.9928em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_016_symbol", w9) %></span></div>
        <div class="stl_01" style="top: 48.7062em; left:22em;"><span class="stl_10 stl_09"><%= worker_column("hiring_on", w9) %></span></div>
        <div class="stl_01" style="top: 50.5062em; left:23em;"><span class="stl_10 stl_09"><%= worker_column("experience_term_before_hiring", w9) %></span></div>
        <div class="stl_01" style="top: 48.7062em; left:28em;"><span class="stl_10 stl_09"><%= worker_column("birth_day_on", w9) %></span></div>
        <div class="stl_01" style="top: 50.5062em; left:28.489em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_020_age", w9) %></span></div>
        <div class="stl_01" style="top: 48.7062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("my_address", w9) %></span></div>
        <div class="stl_01" style="top: 50.5062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("family_address", w9) %></span></div>
        <div class="stl_01" style="top: 48.7062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("my_phone_number", w9) %></span></div>
        <div class="stl_01" style="top: 50.5062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("family_phone_number", w9) %></span></div>
        <div class="stl_01" style="top: 48.7062em; left:53em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "med_exam_on", w9) %></span></div>
        <div class="stl_01" style="top: 50.5062em; left:53.17em;">
          <span class="stl_10 stl_09">
            <%= worker_attribute_column("worker_medical", "max_blood_pressure", w9) %>～<%= worker_attribute_column("worker_medical", "min_blood_pressure", w9) %>
          </span>
        </div>
        <div class="stl_01" style="top: 49.6062em; left:58em;"><span class="stl_10 stl_08"><%= Worker.abo_blood_types_i18n[worker_column("abo_blood_type", w9)] %></span></div>
        <div class="stl_01" style="top: 48.7062em; left:61em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "special_med_exam_on", w9) %></span></div>
        <div class="stl_01" style="top: 50.5062em; left:61.49em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_030_special_health_check_type", w9) %></span></div>
        <div class="stl_01" style="top: 48.4062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.health_insurance_types_i18n[worker_attribute_column("worker_insurance", "health_insurance_type", w9)] %></span></div>
        <div class="stl_01" style="top: 49.6062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.pension_insurance_types_i18n[worker_attribute_column("worker_insurance", "pension_insurance_type", w9)] %></span></div>
        <div class="stl_01" style="top: 50.8062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.employment_insurance_types_i18n[worker_attribute_column("worker_insurance", "employment_insurance_type", w9)] %></span></div>
        <div class="stl_01" style="top: 48.4062em; left:72.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.severance_pay_mutual_aid_types_i18n[worker_attribute_column("worker_insurance", "severance_pay_mutual_aid_type", w9)] %></span></div>
        <div class="stl_01" style="top: 49.6062em; left:72.5em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_035_severance_pay_businesses", w9) %></span></div>
        <div class="stl_01" style="top: 49.6062em; left:77.99em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_special_educations", "special_education_id", w9) %></span></div>
        <div class="stl_01" style="top: 49.6062em; left:80.9928em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_skill_trainings", "skill_training_id", w9) %></span></div>
        <div class="stl_01" style="top: 49.6062em; left:83.989em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_licenses", "license_id", w9) %></span></div>
        <div class="stl_01" style="top: 48.7062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_039_beginning", w9) %></span></div>
        <div class="stl_01" style="top: 50.5062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_040_new_education", w9) %></span></div>
        <div class="stl_01" style="top: 48.7062em; left:92.66em;"><span class="stl_10 stl_08">建・中</span></div>
        <div class="stl_01" style="top: 50.5062em; left:92.66em;"><span class="stl_10 stl_08">他・無</span></div>

        <!-- 作業員10行目 -->
        <div class="stl_01" style="top: 53.2062em; left:4.24em;"><span class="stl_10 stl_09"><%= worker_number(w10) %></span></div>
        <div class="stl_01" style="top: 52.0062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name_kana", w10) %></span></div>
        <div class="stl_01" style="top: 53.2062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("name", w10) %></span></div>
        <div class="stl_01" style="top: 54.4062em; left:5.44em;"><span class="stl_10 stl_09"><%= worker_column("carrier_up_id", w10) %></span></div>
        <div class="stl_01" style="top: 53.2062em; left:14.83em;"><span class="stl_10 stl_09"><%= worker_column("job_type", w10) %></span></div>
        <div class="stl_01" style="top: 53.2062em; left:17.8328em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_016_symbol", w10) %></span></div>
        <div class="stl_01" style="top: 52.3062em; left:22em;"><span class="stl_10 stl_09"><%= worker_column("hiring_on", w10) %></span></div>
        <div class="stl_01" style="top: 54.1062em; left:23em;"><span class="stl_10 stl_09"><%= worker_column("experience_term_before_hiring", w10) %></span></div>
        <div class="stl_01" style="top: 52.3062em; left:28em;"><span class="stl_10 stl_09"><%= worker_column("birth_day_on", w10) %></span></div>
        <div class="stl_01" style="top: 54.1062em; left:28.329em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_020_age", w10) %></span></div>
        <div class="stl_01" style="top: 52.3062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("my_address", w10) %></span></div>
        <div class="stl_01" style="top: 54.1062em; left:32.44em;"><span class="stl_10 stl_09"><%= worker_column("family_address", w10) %></span></div>
        <div class="stl_01" style="top: 52.3062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("my_phone_number", w10) %></span></div>
        <div class="stl_01" style="top: 54.1062em; left:47em;"><span class="stl_10 stl_09"><%= worker_column("family_phone_number", w10) %></span></div>
        <div class="stl_01" style="top: 52.3062em; left:53em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "med_exam_on", w10) %></span></div>
        <div class="stl_01" style="top: 54.1062em; left:53em;">
          <span class="stl_10 stl_09">
            <%= worker_attribute_column("worker_medical", "max_blood_pressure", w10) %>～<%= worker_attribute_column("worker_medical", "min_blood_pressure", w10) %>
          </span>
        </div>
        <div class="stl_01" style="top: 53.2062em; left:58em;"><span class="stl_10 stl_09"><%= Worker.abo_blood_types_i18n[worker_column("abo_blood_type", w10)] %></span></div>
        <div class="stl_01" style="top: 52.3062em; left:61em;"><span class="stl_10 stl_09"><%= worker_attribute_column("worker_medical", "special_med_exam_on", w10) %></span></div>
        <div class="stl_01" style="top: 54.1062em; left:61.33em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_030_special_health_check_type", w10) %></span></div>
        <div class="stl_01" style="top: 52.0062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.health_insurance_types_i18n[worker_attribute_column("worker_insurance", "health_insurance_type", w10)] %></span></div>
        <div class="stl_01" style="top: 53.2062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.pension_insurance_types_i18n[worker_attribute_column("worker_insurance", "pension_insurance_type", w10)] %></span></div>
        <div class="stl_01" style="top: 54.4062em; left:66.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.employment_insurance_types_i18n[worker_attribute_column("worker_insurance", "employment_insurance_type", w10)] %></span></div>
        <div class="stl_01" style="top: 52.0062em; left:72.5em;"><span class="stl_10 stl_09"><%= WorkerInsurance.severance_pay_mutual_aid_types_i18n[worker_attribute_column("worker_insurance", "severance_pay_mutual_aid_type", w10)] %></span></div>
        <div class="stl_01" style="top: 53.2062em; left:72.5em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_035_severance_pay_businesses", w10) %></span></div>
        <div class="stl_01" style="top: 53.2062em; left:77.83em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_special_educations", "special_education_id", w10) %></span></div>
        <div class="stl_01" style="top: 53.2062em; left:80.8328em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_skill_trainings", "skill_training_id", w10) %></span></div>
        <div class="stl_01" style="top: 53.2062em; left:83.829em;"><span class="stl_10 stl_09"><%= worker_attributes_column("worker_licenses", "license_id", w10) %></span></div>
        <div class="stl_01" style="top: 52.3062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_039_beginning", w10) %></span></div>
        <div class="stl_01" style="top: 54.1062em; left:88em;"><span class="stl_10 stl_09"><%= worker_column("doc5_8_040_new_education", w10) %></span></div>
        <div class="stl_01" style="top: 52.3062em; left:92.66em;"><span class="stl_10 stl_08">建・中</span></div>
        <div class="stl_01" style="top: 54.1062em; left:92.66em;"><span class="stl_10 stl_08">他・無</span></div>

        <div class="stl_01" style="top: 55.9993em; left:4em;"><span class="stl_14 stl_08">（</span></div>
        <div class="stl_01" style="top: 55.9593em; left:4.54em;"><span class="stl_14 stl_08" style="word-spacing:-0.09em;">注）１． ※印欄には次の記号等を入れる。（表示されない情報があります。）</span></div>
        <div class="stl_01" style="top: 55.9593em; left:46em;"><span class="stl_14 stl_08" style="word-spacing:-0.09em;">（注）７． 健康保険欄には、健康保険の名称（健康保険組合、協会けんぽ、建設国保、国民健康保険）を記載。 </span></div>
        <div class="stl_01" style="top: 56.5593em; left:5.83em;"><span class="stl_14 stl_08" style="word-spacing:0.53em;">現 …現場代理人</span></div>
        <div class="stl_01" style="top: 57.1593em; left:5.83em;"><span class="stl_14 stl_08" style="word-spacing:0.53em;">主 …主任技術者</span></div>
        <div class="stl_01" style="top: 57.7593em; left:5.83em;"><span class="stl_14 stl_08" style="word-spacing:0.53em;">再 …危険有害業務・再発防止教育</span></div>
        <div class="stl_01" style="top: 56.5593em; left:17.83em;"><span class="stl_14 stl_08" style="word-spacing:0.52em;">作 …作業主任者（（注）２．）</span></div>
        <div class="stl_01" style="top: 57.1593em; left:17.83em;"><span class="stl_14" style="word-spacing:0.44em;">職 …職長</span></div>
        <div class="stl_01" style="top: 57.7593em; left:17.83em;"><span class="stl_14 stl_08" style="word-spacing:0.52em;">習 …外国人技能実習生</span></div>
        <div class="stl_01" style="top: 56.5593em; left:28.33em;"><span class="stl_14 stl_08" style="word-spacing:0.53em;">女 …女性作業員</span></div>
        <div class="stl_01" style="top: 57.1593em; left:28.33em;"><span class="stl_14 stl_09" style="word-spacing:0.44em;">安 …安全衛生責任者</span></div>
        <div class="stl_01" style="top: 57.7593em; left:28.33em;"><span class="stl_14 stl_08" style="word-spacing:0.53em;">就 …外国人建設就労者</span></div>
        <div class="stl_01" style="top: 56.5593em; left:37.33em;"><span class="stl_14 stl_09" style="word-spacing:0.43em;">未 …18歳未満の作業員</span></div>
        <div class="stl_01" style="top: 57.1593em; left:37.33em;"><span class="stl_14 stl_08" style="word-spacing:0.53em;">歳 …能力向上教育</span></div>
        <div class="stl_01" style="top: 57.7593em; left:37.19em;"><span class="stl_14 stl_08" style="word-spacing:0.29em;">1特 …１号特定技能外国人</span></div>
        <div class="stl_01" style="top: 56.5593em; left:48.92em;"><span class="stl_14 stl_08">上記の保険に加入しておらず、後期高齢者である等により、国民健康保険の適用除外である場合には、「適用除外」と記載。</span></div>
        <div class="stl_01" style="top: 57.1593em; left:46em;"><span class="stl_14 stl_08" style="word-spacing:-0.09em;">（注）８． 年金保険欄には、年金保険の名称（厚生年金、国民年金等）を記載。各年金の受給者である場合は、「受給者」と記載。</span></div>
        <div class="stl_01" style="top: 57.7593em; left:46em;"><span class="stl_14 stl_08" style="word-spacing:-0.09em;">（注）９． 雇用保険欄には被保険者番号の下４けたを記載。（日雇労働被保険者の場合には「日雇保険」と追記）</span></div>
        <div class="stl_01" style="top: 58.3593em; left:48.92em;"><span class="stl_14 stl_08">事業主である等により雇用保険の適用除外である場合には「適用除外」と記載。</span></div>
        <div class="stl_01" style="top: 58.9593em; left:46em;"><span class="stl_14 stl_08" style="word-spacing:-0.09em;">（注）10． 安全衛生に関する教育の内容（例：雇入時教育、職長教育、建設用リフトの運転の業務に係る特別教育）については「雇入・職長特別教育」欄に記載。</span></div>
        <div class="stl_01" style="top: 59.5593em; left:46em;"><span class="stl_14 stl_08" style="word-spacing:-0.09em;">（注）11． 建設工事に係る知識及び技術又は技能に関する資格（例：登録〇〇基幹技能者、〇級〇〇技能士）を有する場合は、「免許」欄に記入。</span></div>
        <div class="stl_01" style="top: 60.1593em; left:46em;"><span class="stl_14 stl_08" style="word-spacing:-0.09em;">（注）12． 退職金共済手帳所有の有無については、建退共手帳所有の場合には「建」を、中退共手帳所有の場合には「中」を、その他の手帳所有の場合には「他」を、</span></div>
        <div class="stl_01" style="top: 60.7593em; left:48.92em;"><span class="stl_14 stl_08">所有していない場合には「無」を〇で囲む。</span></div>
        <div class="stl_01" style="top: 58.3993em; left:4em;"><span class="stl_14 stl_08">（</span></div>
        <div class="stl_01" style="top: 58.3593em; left:4.54em;"><span class="stl_14 stl_08" style="word-spacing:-0.09em;">注）２． 作業主任者は作業を直接指揮する義務を負うので、同時に施工されている他の現場や、同一現場においても他の作業個所との作業主任者を</span></div>
        <div class="stl_01" style="top: 58.9593em; left:6.92em;"><span class="stl_14 stl_08">兼務することは、法的に認められていないので、複数の選任としなければならない。</span></div>
        <div class="stl_01" style="top: 59.5593em; left:4.54em;"><span class="stl_14 stl_08" style="word-spacing:-0.09em;">注）３． 事業者及び技能者が建設キャリアアップシステムに登録されている場合は、当該事業者の事業者ID及び現場ID並びに当該技能者の技能者IDを記載。</span></div>
        <div class="stl_01" style="top: 60.1593em; left:4.54em;"><span class="stl_14 stl_08" style="word-spacing:-0.09em;">注）４． 経験年数は現在担当している仕事の経験年数を記入する。</span></div>
        <div class="stl_01" style="top: 59.5993em; left:4em;"><span class="stl_14 stl_08">（</span></div>
        <div class="stl_01" style="top: 60.1993em; left:4em;"><span class="stl_14 stl_08">（</span></div>
        <div class="stl_01" style="top: 60.7993em; left:4em;"><span class="stl_14 stl_08">（</span></div>
        <div class="stl_01" style="top: 61.3993em; left:4em;"><span class="stl_14 stl_08">（</span></div>
        <div class="stl_01" style="top: 60.7593em; left:4.54em;"><span class="stl_14 stl_08" style="word-spacing:-0.09em;">注）５． 各社別に作成するのが原則であるが、リース機械等の運転者は一緒でもよい。</span></div>
        <div class="stl_01" style="top: 61.3593em; left:4.54em;"><span class="stl_14 stl_08" style="word-spacing:-0.09em;">注）６． 資格・免許等の写しを添付すること。</span></div>
        <div class="stl_01" style="top: 61.3593em; left:46em;"><span class="stl_14 stl_08" style="word-spacing:-0.09em;">（注）13． 記載事項の一部について、別紙を用いて記載しても差し支えない。</span></div>
      </div>
    </div>
  </div>
<% end %>
